<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icons/icon.jpg">
    <title>Confirmación</title>
    <link rel="stylesheet" href="../../resources/css/confirmacion.css">
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">


</head>

<body>
    <section class="vh-100">
        <!--Contenedor principal-->
        <div class="container py-5 h-100" style="border: 100px;">
            <div class="row d-flex justify-content-center align-items-center h-100" style="border: 100px;">
                <div class="col col-xl-10">
                    <!--Trajeta que almacena el formulario-->
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <!--Imagen del formulario-->
                            <div class="col-md-6 col-lg-5 d-none d-md-block" style="border: 100px;">
                                <img src="../../resources/img/admin/espaldadolor.png" alt="login form" height="650px"
                                    width="400px" id="bonitaaaa" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form id="saveForm">

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <img src="../../resources/img/icono.png" alt="">
                                        </div>
                                        <h5 class="fw-normal mb-3 pb-2" style="letter-spacing: 1px;">Recuperación de
                                            clave</h5>
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label" for="claveAdmin">Nueva clave</label>
                                            <input type="password" id="claveAdmin" name="claveAdmin"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="repetirAdmin">Repetir clave clave</label>
                                            <input type="password" id="repetirAdmin" name="repetirAdmin"
                                                class="form-control form-control-lg" />
                                        </div>
                                        <!--Boton para confirmar el código de verificación-->
                                        <div class="pt-1 mb-4">
                                            <button data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-dark btn-lg btn-block"
                                                type="submit">CONFIRMAR</button></a>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </section>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/admin/actualizarContra.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/inactividad.js"></script>
</body>

</html>