<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>Quiropractica Especifica - Administrador</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>

    <!-- Contenedor principal -->
    <main class="py-5">

        <!-- Titulos -->
        <div class="mt-5 justify-content-center">
            <div class="container-fluid text-center">
                <div class="row justify-content-center py-5">
                    <h3 class="fw-bold text-white">Administrar Administradores</h3>
                </div>
            </div>

            <div class="container mb-3 justify-content-center">

                <!-- Formulario de búsqueda -->
                <form class="col-sm-12 col-md-12" id="searchForm">
                    <div class="row">
                        <div class="col-4">
                            <input type="search" class="form-control custom-input border-2" id="search" name="search"
                                placeholder="Buscar" required>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-search"></i>
                            </button>
                            <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                            <button type="button" class="btn btn-warning" onclick="openCreate()"><i
                                    class="bi bi-person-fill-add"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Tabla de empleado con opciones -->
                <div class="table-responsive">

                    <!-- Tabla -->
                    <div class="table-responsive">

                        <!-- Tabla para mostrar los registros existentes -->
                        <table class="table table-dark table-hover">

                            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                            <thead>
                                <tr>
                                    <p id="rowsFound" class="text-white fw-bold mt-3"></p>
                                </tr>
                                <tr>
                                    <th scope="col">NOMBRE</th>
                                    <th scope="col">CORREO</th>
                                    <th scope="col">ACCIONES</th>
                                </tr>
                            </thead>

                            <!-- Filas -->
                            <tbody id="tableBody" class="table-group-divider">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal agregar Empleado -->
            <div class="modal fade" id="modalAdministrador" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <!-- Formulario saveForm -->
                        <form id="saveForm">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="number" class="d-none" id="id_admin" name="id_admin">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"> </h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="form-label">Nombre(s)</label>
                                                <input type="text" id="nombre_admin" name="nombre_admin" class="form-control"
                                                    required>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Correo electronico</label>
                                                <input type="email" id="correo_admin" name="correo_admin" class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6 mt-3">
                                                <label class="form-label" id="TextPassword">Contraseña</label>
                                                <input type="password" id="contra_admin" name="contra_admin" class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row mt-3">
                                            <div class="col-12 text-end">
                                                <button type="submit" class="btn btn-primary ps-4 pe-4">
                                                    <i class="bi bi-person-fill-add me-1"></i> Agregar Administrador
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Librerias -->
    <!-- Bootstrap -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"> </script>

    <!-- Js -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <script type="text/javascript" src="../../controllers/admin/administradores.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
</body>

</html>