<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>Quiropráctica Específica</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icons/icon.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <!-- <link rel="stylesheet" href="../../resources/css/barrahorizontal.css"> -->
</head>

<body>

    <!-- Contenedor principal -->
    <main class="container">

        <!-- titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold text-white"> <i class="bi bi-shield-lock-fill me-1"></i> Gestionar Administradores
                </h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión de administradores. Aquí puedes
                    manejar todas las personas administradoras registrados en tu página web. <br>
                    La tabla te permite eliminar, dar de baja, editar, ver graficas y
                    reportes generales de actividad.</h6>
            </div>
        </div>

        <!-- Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Nombre o Apellido" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>
                        <button type="button" class="btn btn-warning" onclick="openCreate()">
                            <i class="bi bi-person-fill-add"></i>
                        </button>
                        <button type="button" class="btn btn-primary" onclick="openReport()">
                            <i class="bi bi-filetype-pdf"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <p id="rowsFound" class="text-white fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll -->
        <div id="administradores" class=" justify-content-center row">
        </div>

        <!-- Modal agregar Admninistrador -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idAdmin" name="idAministrador">
                        <form class="needs-validation">
                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"></h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="textoClaro form-label">Nombre(s)</label>
                                                <input type="text" id="nombreAdmin" name="nombreAdmin"
                                                    autocomplete="off" class="form-control" required>
                                            </div>
                                            <div class="col-6">
                                                <label class="textoClaro form-label">Correo electronico</label>
                                                <input type="email" id="correoAdmin" name="correoAdmin"
                                                    autocomplete="off" class="form-control" required
                                                    oninput="formatEmail(this)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6 mt-3">
                                                <label class="textoClaro form-label"
                                                    id="TextPassword">Contraseña</label>
                                                <input type="password" id="contraAdmin" name="contraAdmin"
                                                    autocomplete="off" class="form-control" required
                                                    oninput="formatPassword(this)">
                                            </div>
                                            <div class="col-6 mt-3">
                                                <label for="empleadoAdmin"
                                                    class=" textoClaro form-label">Empleado</label>
                                                <select id="empleadoAdmin" name="empleadoAdmin" class="form-select"
                                                    autocomplete="off" required oninput="formatCombo(this)">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row mt-3">
                                            <div class="col-12 text-end">
                                                <button type="submit" class="btn btn-primary ps-4 pe-4">
                                                    <i class="bi bi-person-fill-add me-1"></i> Aceptar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal agregar Empleado -->
        <div class="modal fade" id="modalEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="saveFormEmpleado">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idEmpleado" name="idEmpleado">
                        <form class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitleEmpleado"> </h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="form-label">Nombre(s)</label>
                                                <input id="nombreEmpleado" name="nombreEmpleado" class="form-control"
                                                    required oninput="formatAlphabetic(this)" readonly>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Apellido(s)</label>
                                                <input id="apellidoEmpleado" name="apellidoEmpleado"
                                                    class="form-control" required oninput="formatAlphabetic(this)"
                                                    readonly>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label class="form-label">Correo electronico</label>
                                            <input id="correoEmpleado" name="correoEmpleado" class="form-control"
                                                required oninput="formatEmail(this)" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6 mt-3">
                                                    <label class="form-label">Documento de identidad</label>
                                                    <input id="duiEmpleado" name="duiEmpleado" class="form-control"
                                                        required oninput="formatDui(this)" readonly>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <label class="form-label">Fecha de nacimiento</label>
                                                    <input id="fechaEmpleado" name="fechaEmpleado" type="date"
                                                        class="form-control" required oninput="validarFecha(this)"
                                                        readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Importaciones -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/utils/inactividad.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../controllers/admin/administradores.js"></script>
    <script src="../../resources/js/chart.umd.min.js"></script>
</body>

</html>