<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficios</title>
    <!--Script para ponerle icono a la pagina-->
    <link rel="icon" href="../../resources/img/icons/icon.jpg">
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <!-- contenido del header generado automáticamente -->
    <header>
    </header>
    <!-- contenido principal -->
    <main>
        <!-- titulo principal -->
        <h3 id="mainTitle" class="contatdirect display-3"></h3>
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>

        </div>
        <!-- Tabla para mostrar los registros existentes -->
        <table class="table table-hover table-dark">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="4" class="text-white fw-bold mt-3" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>TITULO</th>
                    <th>CONTENIDO</th>
                    <th>SERVICIO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tableBody" class="table-group-divider"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="number" class="d-none" id="idBeneficio" name="idBeneficio">
                            <div class="col-sm-12 col-md-6">
                                <label for="tituloBeneficio" class="form-label">Beneficio</label>
                                <input id="tituloBeneficio" type="text" name="tituloBeneficio" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="contenidoBeneficio" class="form-label">Contenido</label>
                                <input id="contenidoBeneficio" type="text" name="contenidoBeneficio" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="servicioBeneficio" class="form-label">Servicio</label>
                                <select id="servicioBeneficio" name="servicioBeneficio" class="form-select" required>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
    <footer></footer>
    <!-- importaciones de archivos js -->
    <!-- importaciones de resources  -->
    <script src="../../resources/js/bootstrap_js.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- controladores del sitio privado -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/beneficios.js"></script>

</body>

</html>