<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Citas </title>
    <link rel="stylesheet" href="../../recursos/css/boostrap_css.css">
    <link rel="stylesheet" href="../../recursos/css/colores.css">
    <link rel="stylesheet" href="../../recursos/css/general.css">
    <link rel="stylesheet" href="../../recursos/css/cita.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"
        rel="stylesheet" />
</head>

<body>

    <!-- Navbar -->
    <header>

    </header>

    <!-- Body principal -->
    <main>
        <!-- Logo e boton -->
        <br>
        <br>
        <div class="container">
            <div class="col-6 row container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

        <!-- Contenedor de cartas|perfiles -->
        <div class="container mt-3">
            <div class="row justify-content-center">

                <div class="card border-2 border-info m-3" style="width: 18rem;" data-bs-toggle="modal"
                    data-bs-target="#vercita">
                    <img src="../../recursos/img/admin/Paciente1.png" class="card-img-top ps-3 pe-3 pt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"> Juan Rodriguez </h5>
                        <p class="card-text text-center"> 61258956 </p>
                        <div class="container text-center mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-outline-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Basura.png" alt=""
                                        width="30px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="#" class="btn btn-outline-light" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#ModalEditarCita"><img src="../../recursos/img/Boligrafo.png" alt=""
                                        width="30px">
                                    <p class="card-text"> Editar </p>
                                </a>
                                <a href="#" class="btn btn-outline-light" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop02"><img src="../../recursos/img/agre.png" alt=""
                                        width="30px">
                                    <p class="card-text"> Agregar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal editar cita-->

        <div class="modal fade" id="ModalEditarCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" id="modalcitaeditar">
                    <div class="modal-header" id="headercolor">
                        <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                                src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar cita</h1>
                    </div>
                    <div class="modal-body row g-3">

                        <div class="col-sm-12 col-md-6 text-center">
                            <img src="../../recursos/img/admin/Paciente2.png" alt="" class="img-fluid"
                                width="300px  height=" 300px>
                            <h5 class="mt-4" id="editaruser">Manuel Fratti</h5>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <p class="text-light">fecha nacimiento</p>
                                <form action="https://example.com">
                                    <input type="date" name="bday" />
                                    </label>
                                </form>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6" id="texto">
                            <div class="text-center">
                                <label for="validationCustom05" class="form-label mt-3">Cantidad de sesiones</label>
                                <input type="number" class="form-control" id="validationCustom02" placeholder="0"
                                    min="0" aria-label="Username" aria-describedby="basic-addon2">
                            </div>
                            <div class="text-center mt-3">
                                <label for="appt" class="form-label">Hora:</label>
                                <input type="time" id="appt" name="appt">
                            </div>
                            <div class="mt-3">
                                <label for="validationCustom02" class="form-label">Precio</label>
                                <input type="text" class="form-control" id="validationCustom02" aria-label="Username"
                                    aria-describedby="basic-addon2" required oninput="formatPhoneNumber(this)">
                                <div class="form-text" id="basic-addon2"></div>
                            </div>
                            <div class="text-center mt-3">
                                <label for="validationCustom01" class="form-label">Síntomas</label>
                                <input type="text" class="form-control" id="validationCustom01" aria-label="Username"
                                    aria-describedby="basic-addon1" required>
                            </div>
                            <div class="text-center mt-3">
                                <label for="validationCustom04" class="form-label">Servicios contratados</label>
                                <select class="form-select">
                                    <option selected>Masaje Quiropráctico</option>
                                    <option>Acupuntura</option>
                                </select>
                            </div>
                            <div class="text-center mt-3">
                                <button type="button" class="btn btn-secondary" id="botonPacienteedit">Editar
                                    cita</button>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer p-4" id="footerColor">

                    </div>
                </div>
            </div>
            <!-- Clase del footer -->

        </div>

        <!-- Modal agregar cita-->

        <div class="modal fade" id="staticBackdrop02" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content" id="modalcitaeditar">
                    <div class="modal-header" id="headercolor">
                        <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                                src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar cita</h1>
                    </div>
                    <div class="modal-body row g-3" id="texto">
                        <div class="row align-items-start">
                            <div class="col-6">
                                <div class="text-center">
                                    <label for="validationCustom05" class="form-label mt-3">Cantidad de sesiones</label>
                                    <input type="number" class="form-control" id="validationCustom02" placeholder="0"
                                        min="0" aria-label="Username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-center mt-3">
                                    <label for="appt" class="form-label">Hora:</label>
                                    <input type="time" id="appt" name="appt">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mt-3">
                                    <label for="validationCustom02" class="form-label">Precio</label>
                                    <input type="text" class="form-control" id="validationCustom02"
                                        aria-label="Username" aria-describedby="basic-addon2" required
                                        oninput="formatPhoneNumber(this)">
                                    <div class="form-text" id="basic-addon2"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-center mt-3">
                                    <label for="Texto01" class="form-label">Síntomas</label>
                                    <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto"
                                        rows="3"></textarea>

                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-center mt-3">
                                    <p>fecha nacimiento</p>
                                    <form action="https://example.com">
                                        <input type="date" name="bday" />
                                        </label>
                                    </form>
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-center mt-3">
                                    <label for="validationCustom04" class="form-label">Servicios contratados</label>
                                    <select class="form-select">
                                        <option selected>Masaje Quiropráctico</option>
                                        <option>Acupuntura</option>
                                    </select>
                                </div>
                            </div>

                            <div class="text-center mt-3">
                                <button type="button" class="btn btn-secondary" id="botonPacienteedit">Cita
                                    realizada</button>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer p-4" id="footerColor">

                    </div>
                </div>
            </div>
        </div>


        <!-- Modal ver notas paciente definido-->
        <div class="modal fade modal-xl" id="vercita" tabindex="-1" data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Header del modal -->
                    <div class="modal-header bg-dark">
                        <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                                src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                        <h1 class="modal-title fs-5 text-bg-dark" id="exampleModalLabel"> Citas </h1>
                    </div>

                    <!-- Body del modal -->
                    <div class="modalfondo modal-body">
                        <div class="container mt-3 mb-5">
                            <div class="d-flex flex-row">
                                <div class="container">
                                    <div class="row text-white">

                                        <!-- imagen del paciente del modal -->
                                        <div class="row d-flex flex-row contenidoNogta">
                                            <div class="col row imgpaciente ms-4">
                                                <div class="cardfotonota card">
                                                    <br>
                                                    <img src="../../recursos/img/admin/Paciente1.png"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <p class="card-text text-center">Juan Rodriguez
                                                        </p>
                                                        <p class="card-text text-center">20220426 </p>
                                                    </div>
                                                </div>
                                                <!-- espacio de notas del modal -->
                                                <div class="col-6 row m-3">
                                                    <!-- tarjeta de notas del modal -->
                                                    <div class="card my-4">
                                                        <div class="card-body">
                                                            <div class="text-center">
                                                                <label for="validationCustom05"
                                                                    class="form-label mt-3">Cantidad de sesiones:
                                                                    3</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class=" mt-3">
                                                                <label for="appt" class="form-label">Hora:</label>
                                                                <input type="time" id="appt" name="appt">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mt-3">
                                                                <label for="validationCustom02"
                                                                    class="form-label">Precio: $20</label>
                                                                <div class="form-text" id="basic-addon2"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class=" mt-3">
                                                                <label for="Texto01" class="form-label">Síntomas</label>
                                                                <p>El paciente presenta fisuras vectebral y dolor fuerte
                                                                </p>

                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class=" mt-3">
                                                                <p>fecha nacimiento</p>
                                                                <form action="https://example.com">
                                                                    <input type="date" name="bday" />
                                                                    </label>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class=" mt-3">
                                                                <label for="validationCustom04"
                                                                    class="form-label">Servicios contratados</label>
                                                                <p>Masaje preventivo.
                                                                    <br>
                                                                    Ajuste vectebral.
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Clase del footer -->

        </div>




    </main>

    <footer id="footer">

    </footer>

    <script src="../../controllers/utils/admin/plantilla_completa.js"></script>
    <script src="../../recursos/js/bootstrap_js.js"></script>

    <div class="calendar-box"></div>


</body>

</html>