<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiropráctica Específica </title>
    <link rel="stylesheet" href="../../recursos/css/boostrap_css.css">
    <link rel="stylesheet" href="../../recursos/css/colores.css">
</head>

<body>
    <header>

    </header>

    <main class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 text-start">
                <h1 class="display-3">Comentarios</h1>
            </div>

            <div class="col-md-6 col-lg-6 text-end my-5">
                <div class="btn-group dropend">
                    <button type="button" class="btn color_verde dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Clasificar por...
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Masaje preventivo</a></li>
                        <li><a class="dropdown-item" href="#">Tratamiento de escoliosis</a></li>
                        <li><a class="dropdown-item" href="#">Colocación de columna</a></li>
                        <li><a class="dropdown-item" href="#">Ejercicios de flexibilidad</a></li>
                    </ul>
                </div>
            </div>

        </div>



        <div class="my-5">
            <!--Comentarios de servicios-->

            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Tratamiento de escoliosis</h5>
                    <p class="card-text">El tratamiento fue increíblemente efectivo. Sentí una mejora notable en mi
                        postura y reducción del dolor en poco tiempo. El equipo médico fue profesional y atento durante
                        todo el proceso.</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Tratamiento de escoliosis</h5>
                    <p class="card-text">Después del tratamiento de escoliosis, he notado un cambio significativo en mi
                        postura y menos dolores de espalda</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Tratamiento de escoliosis</h5>
                    <p class="card-text">El tratamiento de escoliosis me dio confianza en mi cuerpo y me permitió
                        moverme con más libertad.</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Tratamiento de escoliosis</h5>
                    <p class="card-text">El proceso para tratar mi escoliosis fue suave y eficaz. Ahora puedo llevar una
                        vida más activa sin dolor.</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Masaje Preventivo</h5>
                    <p class="card-text">El masaje preventivo me dejó totalmente relajado y sin tensiones. Lo recomiendo
                        para mantener el cuerpo en forma.</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Masaje Preventivo</h5>
                    <p class="card-text">Con el masaje preventivo, mis dolores musculares han desaparecido. Ahora me
                        siento más suelto y con energía.</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Masaje Preventivo</h5>
                    <p class="card-text">Gracias al masaje preventivo, mi estrés se ha reducido considerablemente. Es un
                        tratamiento que quiero repetir regularmente.</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Masaje Preventivo</h5>
                    <p class="card-text">Gracias al masaje preventivo, mi estrés se ha reducido considerablemente. Es un
                        tratamiento que quiero repetir regularmente.</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div><div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Masaje Preventivo</h5>
                    <p class="card-text">Gracias al masaje preventivo, mi estrés se ha reducido considerablemente. Es un
                        tratamiento que quiero repetir regularmente.</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div><div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Masaje Preventivo</h5>
                    <p class="card-text">Gracias al masaje preventivo, mi estrés se ha reducido considerablemente. Es un
                        tratamiento que quiero repetir regularmente.</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Masaje Preventivo</h5>
                    <p class="card-text">Gracias al masaje preventivo, mi estrés se ha reducido considerablemente. Es un
                        tratamiento que quiero repetir regularmente.</p>
                    <a href="#" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div><div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Masaje Preventivo</h5>
                    <p class="card-text">Gracias al masaje preventivo, mi estrés se ha reducido considerablemente. Es un
                        tratamiento que quiero repetir regularmente.</p>
                    <a href="#" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div><div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Masaje Preventivo</h5>
                    <p class="card-text">Gracias al masaje preventivo, mi estrés se ha reducido considerablemente. Es un
                        tratamiento que quiero repetir regularmente.</p>
                    <a href="#" class="texto_verde">Eliminar Comentario</a>
                </div>
            </div>

        </div>

    </main>

        <!-- Modal Interrogante -->
        <div class="modal fade" id="ModalInterrogante" tabindex="-1" data-bs-backdrop="static"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Body del modal -->
                <div class="modal-body text-center">
                    <img src="../../recursos/img/Interrogante.png" alt="" width="100px">
                    <p class="mt-2"> ¿Estas seguro de eliminar comentario? </p>
                    <hr>
                    <button type="button" id="BtnInterrogante" class="btn bg-dark text-light me-2"
                        data-bs-toggle="modal" data-bs-target="#ModalRealizado"> Si </button>
                    <button type="button" class="btn bg-dark text-light" data-bs-dismiss="modal"> No </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cambio realizado -->
    <div class="modal fade" id="ModalRealizado" tabindex="-1" data-bs-backdrop="static"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Body del modal -->
                <div class="modal-body text-center">
                    <img src="../../recursos/img/Listo.png" alt="" width="100px">
                    <p class="mt-2"> eliminando comentario. </p>
                    <div class="progress">
                        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>

    </footer>

    <script src="../../controllers/utils/admin/plantilla_completa.js"></script>
    <script src="../../recursos/js/bootstrap_js.js"></script>

        <!-- Javascript de alerta modal -->
        <script src="../../controllers/admin/alerta.js"></script>
</body>

</html>