<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>Quiropráctica Específica</title>

    <!-- Metadatos de la pagina web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icons/icon.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/barrahorizontal.css">
</head>

<body>

    <!-- Contenedor principal -->
    <main class="container">

        <!-- titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold text-white"><i class="bi bi-chat-left-text-fill me-1"></i> Administrar Comentarios</h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión de comentarios. Aquí puedes manejar
                    todos los comentarios registrados en tu página web. <br>
                    La tabla te permite eliminar, dar de baja y
                    reportes generales y específicos de actividad.</h6>
            </div>
        </div>

        <!-- Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Buscar por comentario o Usuario" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <p id="rowsFound" class="text-white fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll -->
        <div id="ContenedorTable">

            <!-- Tabla para mostrar los registros existentes -->

            <table class="table table-hover table-dark">

                <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                <thead>
                    <tr>
                        <th>COMENTARIO</th>
                        <th>CLIENTE</th>
                        <th>SERVICIO</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>

                <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                <tbody id="tableBody" class="table-group-divider"></tbody>
            </table>
        </div>
    </main>

    <!-- Importaciones -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap_js.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/comentarios.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../resources/js/chart.umd.min.js"></script>
    <script src="../../controllers/utils/inactividad.js"></script>
</body>

</html>