<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>Quiropractica Especifica</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/barrahorizontal.css">
</head>

<body>

    <!-- Contenedor principal -->
    <main class="container">

        <!-- titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold text-white"> <i class="bi bi-person-vcard-fill me-1"></i> Administrar Empleados</h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión de empleados. Aquí puedes
                    manejar todos los trabajadores registrados en tu página web. <br>
                    La tabla te permite eliminar, dar de baja, editar, ver graficas y
                    reportes generales de actividad.</h6>
            </div>
        </div>

        <!-- Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Nombre o Apellido" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>
                        <button type="button" class="btn btn-warning" onclick="openCreate()">
                            <i class="bi bi-person-fill-add"></i>
                        </button>
                        <button type="button" class="btn btn-primary" onclick="openReport()">
                            <i class="bi bi-filetype-pdf"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <p id="rowsFound" class="text-white fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll -->
        <div id="ContenedorTable">

            <!-- Tabla para mostrar los registros existentes -->
            <table class="table table-hover table-dark">

                <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                <thead>
                    <tr>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">DUI</th>
                        <th scope="col">CORREO</th>
                        <th scope="col">NACIMIENTO</th>
                        <th scope="col">ESTADO</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>

                <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                <tbody id="tableBody" class="table-group-divider"></tbody>
            </table>
        </div>

        <div class="bg-dark rounded mb-3">

            <!-- titulo principal -->
            <div class="container-fluid text-center">
                <div class="row justify-content-center mt-4 pt-3">
                    <h6 class="fw-medium text-secondary">Empleados por estado: Esta gráfica muestra los empleados
                        activos e inactivos de nuestra página web,
                        <br> los que han sido dados de baja o estan en activos.
                    </h6>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="card col-3 mx-auto inicioIndex my-3">
                    <!-- Se muestra un gráfico con la cantidad de productos por categoría -->
                    <canvas id="chart1"></canvas>
                </div>
            </div>
        </div>

        <!-- Modal agregar Empleado -->
        <div class="modal fade" id="modalEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="id_empleado" name="id_empleado">
                        <form class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"> </h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="form-label">Nombre(s)</label>
                                                <input id="nombre_empleado" name="nombre_empleado" class="form-control"
                                                    required oninput="formatAlphabetic(this)">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Apellido(s)</label>
                                                <input id="apellido_empleado" name="apellido_empleado"
                                                    class="form-control" required oninput="formatAlphabetic(this)">
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label class="form-label">Correo electronico</label>
                                            <input id="correo_empleado" name="correo_empleado" class="form-control"
                                                required oninput="formatEmail(this)">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6 mt-3">
                                                    <label class="form-label">Documento de identidad</label>
                                                    <input id="dui_empleado" name="dui_empleado" class="form-control"
                                                        required oninput="formatDui(this)">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <label class="form-label">Fecha de nacimiento</label>
                                                    <input id="fecha_empleado" name="fecha_empleado" type="date"
                                                        class="form-control" required oninput="validarFecha(this)">
                                                </div>
                                            </div>
                                            <div class="form-check form-switch form-check-reverse mt-3">
                                                <input class="form-check-input" type="checkbox" id="estadoEmpleado"
                                                    name="estadoEmpleado" checked>
                                                <label class="form-check-label" for="estadoEmpleado">Estado</label>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-6"></div>
                                                <div class="col-6 text-end">
                                                    <button type="submit" class="btn btn-primary ps-4 pe-4">
                                                        <i class="bi bi-person-fill-add me-1"></i> Aceptar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>

        <!-- Componente Modal para mostrar un gráfico -->
        <div class="modal fade" id="chartModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="chartTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header inicioIndex">
                        <h3 class="modal-title textoClaro " id="chartTitle">Citas asignadas</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Contenedor para mostrar el gráfico -->
                    <div class="modal-body inicioIndex" id="chartContainer"></div>
                    <div class="modal-footer inicioIndex">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Importaciones -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap_js.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/empleado.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../resources/js/chart.umd.min.js"></script>
</body>

</html>