<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>Quiropractica Especifica</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icons/icon.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/barrahorizontal.css">
</head>

<body>

    <!-- Contenedor principal -->
    <main class="container">

        <!-- titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold text-white"> <i class="bi bi-images"></i> Administrar Galería</h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión de Galería. Aquí puedes
                    manejar todos las imágenes registradas en tu página web para agregarlas en los servicios. <br>
                    La tabla te permite eliminar, dar de baja, editar</h6>
            </div>
        </div>

        <!-- Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Nombre imagen" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>
                        <button type="button" class="btn btn-warning" onclick="openCreate()">
                            <i class="bi bi-folder-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <p id="rowsFound" class="text-white fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll -->
        <div id="ContenedorTable">

            <div id="tableBody" class=" justify-content-center row"></div>
        </div>



        <!-- Modal agregar Imágenes -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idImagen" name="idImagen">
                        <form class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"> </h1>

                                <!-- Inputs -->
                                <div class="row justify-content-center">
                                    <div class="col-6 d-flex flex-column align-items-center">
                                        <label class="form-label text-center">Nombre categoría</label>
                                        <input id="nombreImagen" name="nombreImagen"
                                            class="form-control text-center" autocomplete="off" required
                                            oninput="formatAlphabetic(this)">
                                    </div>
                                </div>

                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <img id="imagenMuestra1"
                                                    class="rounded  mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                                    src="../../resources/img/persona.png" alt="..." width="200px"
                                                    onerror="this.onerror=null; this.src='../../resources/img/error/imagenes.jpg';"
                                                    height="200px">
                                                <div class="col-12">
                                                    <label for="imagen1" class="form-label">Imagen
                                                        numero 1</label>
                                                    <input id="imagen1" type="file" name="imagen1" class="form-control"
                                                        accept=".png, .jpg">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <img id="imagenMuestra2"
                                                    class="rounded  mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                                    src="../../resources/img/persona.png" alt="..." width="200px"
                                                    onerror="this.onerror=null; this.src='../../resources/img/error/imagenes.jpg';"
                                                    height="200px">
                                                <div class="col-12">
                                                    <label for="imagen2" class="form-label">Imagen
                                                        numero 2</label>
                                                    <input id="imagen2" type="file" name="imagen2" class="form-control"
                                                        accept=".png, .jpg">
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <img id="imagenMuestra3"
                                                    class="rounded  mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                                    src="../../resources/img/persona.png" alt="..." width="200px"
                                                    onerror="this.onerror=null; this.src='../../resources/img/error/imagenes.jpg';"
                                                    height="200px">
                                                <div class="col-12">
                                                    <label for="imagen3" class="form-label">Imagen
                                                        numero 3</label>
                                                    <input id="imagen3" type="file" name="imagen3" class="form-control"
                                                        accept=".png, .jpg">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary ps-4 pe-4">
                                    <i class="bi bi-person-fill-add me-1"></i> Aceptar
                                </button>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <!-- Importaciones -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap_js.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/imagenes.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../resources/js/chart.umd.min.js"></script>
    <script src="../../controllers/utils/inactividad.js"></script>
</body>

</html>