<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/archive.css">
</head>

<body>
    <main>
        <div class="row">
            <!-- imagen de decoracion index -->
            <div class="col-lg-3 login_fondo"></div>
            <!-- login -->
            <div class="col-lg-9" ">
                <img src="../../resources/img/logo.png" width="20px" alt="" srcset="">
            </div>
        </div>
    </main>
    <!-- importación de archivos javascript -->
    <!-- importacion de framework -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
</body>

</html>