<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>Quiropráctica Específica</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/ingresar.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/barrahorizontal.css">
</head>

<body>

    <!-- Contenedor principal -->
    <main class="container SingUp">

        <!-- Contenedor principal para la sección de ingreso -->
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col col-xl-10">

                    <!-- Tarjeta que almacena el formulario de registro -->
                    <div class="card bg-dark rounded">
                        <div class="row g-3">

                            <!-- Columna para la imagen de fondo en pantallas grandes -->
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="../../resources/img/admin/espaldadolor.png" alt="login form" height="650px"
                                    width="400px" class="rounded" />
                            </div>

                            <!-- Columna para el formulario de ingreso -->
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-white">

                                    <form id="loginForm">
                                        <form class="needs-validation">

                                            <h3 class="fw-bold text-white">Ingresa tus credenciales</h5>

                                                <!-- Campo de correo electrónico -->
                                                <div class="form-outline mt-4">
                                                    <label class="form-label" for="correoAdmin">Correo
                                                        Electrónico</label>
                                                    <input type="email" id="correoAdmin" name="correoAdmin"
                                                        autocomplete="off" class="form-control" required
                                                        oninput="formatEmail(this)">
                                                </div>

                                                <!-- Campo de contraseña -->
                                                <div class="form-outline mt-4">
                                                    <label class="form-label" for="contraAdmin">Contraseña</label>
                                                    <input type="password" id="contraAdmin" name="contraAdmin"
                                                        autocomplete="off" class="form-control" required
                                                        oninput="formatPassword(this)">
                                                </div>

                                                <!-- Botón de inicio de sesión -->
                                                <div class="mt-4 mb-4">
                                                    <button class="btn btn-primary fw-bold"
                                                        type="submit">INICIAR</button>
                                                </div>

                                                <!-- Enlace para recuperación de contraseña -->
                                                <a class="small" href="../admin/recuperacion.html">
                                                    ¿Olvidaste tu contraseña?
                                                </a>
                                        </form>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Se incluye el script de Bootstrap para funcionalidades adicionales -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- Se incluyen scripts adicionales para funcionalidad específica -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../controllers/admin/index.js"></script>
</body>

</html>