<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiropráctica Específica </title>
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/admin/inicio.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">

</head>

<body>
    <header>

    </header>

    <main class="container">

        <div class="row justify-content-center">

<!--INICIO CARRUSEL-->
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../resources/img/admin/quiro1.png" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 <!-- FINAL CARRUSEL -->

        </div>
    </main>



    <footer>

    </footer>

    <script src="../../resources/js/bootstrap_js.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>

    <!-- llamar al controntrolador del sitio privado-->
    <script src="../../controllers/utils/components.js"></script>
    <!-- llamar al controntrolador del los sitios-->
    <script src="../../controllers/utils/admin.js"></script>

    <script type="module" src="../../controllers/admin/inicio.js"></script>
</body>


</html>