<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiropráctica Específica </title>
    <link rel="stylesheet" href="../../recursos/css/boostrap_css.css">
    <link rel="stylesheet" href="../../recursos/css/colores.css">
</head>

<body>
    <header>

    </header>

    <main class="container">

        <div class="row">
            <div class="col-lg-6 text-start">
                <h1 class="display-3">Niveles Usuarios</h1>
            </div>
            <div class="col-lg-6 text-end">

                <button type="button" class="btn btn-primary btn-lg me-2" data-bs-toggle="modal"
                    data-bs-target="#agregar_nivel"><img src="../../recursos/img/admin/mas.png" class="me-2"
                        width="30px">Nivel usuario
                </button>
            </div>
        </div>
        <div class="my-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre Nivel</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>admin</td>
                        <td>3</td>
                        <td>
                            <button type="button" class="btn btn-outline-danger invert-hover">
                                <img src="../../recursos/img/admin/basura_negro.png" width="30px" alt="Eliminar">
                            </button>


                            <button type="button" class="btn btn-outline-warning invert-hover" data-bs-toggle="modal"
                                data-bs-target="#editar_nivel">
                                <img src="../../recursos/img/admin/lapiz_negro.png" width="30px" alt="Editar">
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Moderador</td>
                        <td>2</td>
                        <td>
                            <button type="button" class="btn btn-outline-danger invert-hover">
                                <img src="../../recursos/img/admin/basura_negro.png" width="30px" alt="Eliminar">
                            </button>


                            <button type="button" class="btn btn-outline-warning invert-hover" data-bs-toggle="modal"
                                data-bs-target="#editar_nivel">
                                <img src="../../recursos/img/admin/lapiz_negro.png" width="30px" alt="Editar">
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Usuario</td>
                        <td>5</td>
                        <td>
                            <button type="button" class="btn btn-outline-danger invert-hover">
                                <img src="../../recursos/img/admin/basura_negro.png" width="30px" alt="Eliminar">
                            </button>


                            <button type="button" class="btn btn-outline-warning invert-hover" data-bs-toggle="modal"
                                data-bs-target="#editar_nivel">
                                <img src="../../recursos/img/admin/lapiz_negro.png" width="30px" alt="Editar">
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Usuario</td>
                        <td>6</td>
                        <td>
                            <button type="button" class="btn btn-outline-danger invert-hover">
                                <img src="../../recursos/img/admin/basura_negro.png" width="30px" alt="Eliminar">
                            </button>


                            <button type="button" class="btn btn-outline-warning invert-hover" data-bs-toggle="modal"
                                data-bs-target="#editar_nivel">
                                <img src="../../recursos/img/admin/lapiz_negro.png" width="30px" alt="Editar">
                            </button>
                        </td>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>


    </main>

    <footer class="footer_emergencia">

    </footer>

    <!-- Modal -->
    <div class="modal fade" id="agregar_nivel" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"> <!-- tamaño grande -->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar nivel usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Contenido del modal -->


                    <form class="form-floating">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputValue1"
                                placeholder="Nombre nivel usuario">
                            <label for="floatingInputValue1">Nombre nivel usuario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputValue2"
                                placeholder="Descripcion">
                            <label for="floatingInputValue2">Descripcion</label>
                        </div>
                    </form>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#ModalInterrogante" data-bs-dismiss="modal">Guardar datos</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal editar nivel -->
    <div class="modal fade" id="editar_nivel" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"> <!-- tamaño grande -->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar nivel usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Contenido del modal -->


                    <form class="form-floating">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputValue1"
                                placeholder="Nombre nivel usuario" value="ejemplo nombre">
                            <label for="floatingInputValue1">Nombre nivel usuario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputValue2"
                                placeholder="Descripcion" value="ejemplo Descripcion">
                            <label for="floatingInputValue2">Descripcion</label>
                        </div>
                    </form>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalInterrogante" data-bs-dismiss="modal">Guardar datos</button>
                </div>
            </div>
        </div>
    </div>

            <!-- Modal Interrogante -->
            <div class="modal fade" id="ModalInterrogante" tabindex="-1" data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
    
                    <!-- Body del modal -->
                    <div class="modal-body text-center">
                        <img src="../../recursos/img/Interrogante.png" alt="" width="100px">
                        <p class="mt-2"> ¿Estas seguro de eliminar comentario? </p>
                        <hr>
                        <button type="button" id="BtnInterrogante" class="btn bg-dark text-light me-2"
                            data-bs-toggle="modal" data-bs-target="#ModalRealizado"> Si </button>
                        <button type="button" class="btn bg-dark text-light" data-bs-dismiss="modal"> No </button>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Modal Cambio realizado -->
        <div class="modal fade" id="ModalRealizado" tabindex="-1" data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
    
                    <!-- Body del modal -->
                    <div class="modal-body text-center">
                        <img src="../../recursos/img/Listo.png" alt="" width="100px">
                        <p class="mt-2"> eliminando comentario. </p>
                        <div class="progress">
                            <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script src="../../controllers/utils/admin/plantilla_completa.js"></script>
    <script src="../../recursos/js/bootstrap_js.js"></script>

            <!-- Javascript de alerta modal -->
            <script src="../../controllers/admin/alerta.js"></script>
</body>

</html>