<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Notas </title>
    <link rel="stylesheet" href="../../recursos/css/boostrap_css.css">
    <link rel="stylesheet" href="../../recursos/css/colores.css">
    <link rel="stylesheet" href="../../recursos/css/general.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"
        rel="stylesheet" />
</head>

<body>

    <!-- Navbar -->
    <header id="header">

    </header>

    <!-- Body principal -->
    <main class="mainNotas">

        <!-- Contenedor principal -->
        <div class="notadivno container mt-5">
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-5 flex-row">
                    <button type="button" class="btn bg-dark text-light ms-5" data-bs-toggle="modal"
                        data-bs-target="#agregarnota"> <img src="../../recursos/img/Agregar.png" alt="" width="25px"
                            class="me-1"> Agregar paciente
                    </button>
                </div>
                <div class="container flex-row col-6">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Contenedor de cartas|perfiles -->
        <div class="container mt-3">
            <div class="row justify-content-center">

                <!-- Cartas de perfiles -->
                <div class="cartaPacientePrivado card m-3">
                    <div class="card-header bg-white" data-bs-toggle="modal" data-bs-target="#pacientedefinidovernota">
                        <img src="../../recursos/img/admin/Paciente1.png" class="card-img-top ps-3 pe-3 pt-3 pb-3"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"> Juan Rodriguez </h5>
                        <p class="card-text text-center"> 61258956 </p>
                        <div class="container text-center mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="50px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModaleditarDefinido"><img src="../../recursos/img/Edit.png" alt=""
                                        width="50px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cartaPacientePrivado card m-3">
                    <div class="card-header bg-white" data-bs-toggle="modal" data-bs-target="#pacientedefinidovernota">
                        <img src="../../recursos/img/admin/Paciente1.png" class="card-img-top ps-3 pe-3 pt-3 pb-3"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"> Juan Rodriguez </h5>
                        <p class="card-text text-center"> 61258956 </p>
                        <div class="container text-center mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="50px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModaleditarDefinido"><img src="../../recursos/img/Edit.png" alt=""
                                        width="50px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cartaPacientePrivado card m-3">
                    <div class="card-header bg-white" data-bs-toggle="modal" data-bs-target="#pacientedefinidovernota">
                        <img src="../../recursos/img/admin/Paciente1.png" class="card-img-top ps-3 pe-3 pt-3 pb-3"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"> Juan Rodriguez </h5>
                        <p class="card-text text-center"> 61258956 </p>
                        <div class="container text-center mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="50px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModaleditarDefinido"><img src="../../recursos/img/Edit.png" alt=""
                                        width="50px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cartaPacientePrivado card m-3">
                    <div class="card-header bg-white" data-bs-toggle="modal" data-bs-target="#pacientedefinidovernota">
                        <img src="../../recursos/img/admin/Paciente1.png" class="card-img-top ps-3 pe-3 pt-3 pb-3"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"> Juan Rodriguez </h5>
                        <p class="card-text text-center"> 61258956 </p>
                        <div class="container text-center mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="50px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModaleditarDefinido"><img src="../../recursos/img/Edit.png" alt=""
                                        width="50px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cartaPacientePrivado card m-3">
                    <div class="card-header bg-white" data-bs-toggle="modal" data-bs-target="#pacientedefinidovernota">
                        <img src="../../recursos/img/admin/Paciente1.png" class="card-img-top ps-3 pe-3 pt-3 pb-3"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"> Juan Rodriguez </h5>
                        <p class="card-text text-center"> 61258956 </p>
                        <div class="container text-center mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="50px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModaleditarDefinido"><img src="../../recursos/img/Edit.png" alt=""
                                        width="50px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cartaPacientePrivado card m-3">
                    <div class="card-header bg-white" data-bs-toggle="modal" data-bs-target="#pacientedefinidovernota">
                        <img src="../../recursos/img/admin/Paciente1.png" class="card-img-top ps-3 pe-3 pt-3 pb-3"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"> Juan Rodriguez </h5>
                        <p class="card-text text-center"> 61258956 </p>
                        <div class="container text-center mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="50px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModaleditarDefinido"><img src="../../recursos/img/Edit.png" alt=""
                                        width="50px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cartaPacientePrivado card m-3">
                    <div class="card-header bg-white" data-bs-toggle="modal" data-bs-target="#pacientedefinidovernota">
                        <img src="../../recursos/img/admin/Paciente1.png" class="card-img-top ps-3 pe-3 pt-3 pb-3"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"> Juan Rodriguez </h5>
                        <p class="card-text text-center"> 61258956 </p>
                        <div class="container text-center mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="50px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModaleditarDefinido"><img src="../../recursos/img/Edit.png" alt=""
                                        width="50px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cartaPacientePrivado card m-3">
                    <div class="card-header bg-white" data-bs-toggle="modal" data-bs-target="#pacientedefinidovernota">
                        <img src="../../recursos/img/admin/Paciente1.png" class="card-img-top ps-3 pe-3 pt-3 pb-3"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"> Juan Rodriguez </h5>
                        <p class="card-text text-center"> 61258956 </p>
                        <div class="container text-center mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="50px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModaleditarDefinido"><img src="../../recursos/img/Edit.png" alt=""
                                        width="50px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- Modal editar definido -->
        <div class="modal fade modal-xl" id="ModaleditarDefinido" tabindex="-1" data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Header del modal -->
                    <div class="modal-header bg-dark">
                        <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                                src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                        <h1 class="modal-title fs-5 text-bg-dark" id="exampleModalLabel"> Editar nota </h1>
                    </div>

                    <!-- Body del modal -->
                    <div class="modalfondo modal-body">
                        <div class="container mt-3 mb-5">
                            <div class="d-flex flex-row">
                                <div class="container">
                                    <div class="row text-white">

                                        <!-- imagen del paciente del modal -->
                                        <div class="row d-flex flex-row contenidoNogta">
                                            <div class="col row imgpaciente ms-4">
                                                <div class="notatarjetaeditablenota card">
                                                    <br>
                                                    <img src="../../recursos/img/admin/Paciente1.png"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <p class="card-text text-center" >Juan Rodriguez
                                                        </p>
                                                        <p class="card-text text-center">20220426 </p>
                                                    </div>
                                                </div>
                                                <div class="col-6 ms-4">
                                                        <a class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#ModalInterrogante" role="button">Editar nota</a>
                                                </div>
                                            </div>

                                            <!-- espacio de nota del modal -->
                                            <div class="col-6 row">
                                                <div class="form-floating">
                                                    <textarea class="textodenotadefinido form-control mt-3"
                                                        id="floatingTextarea" required></textarea>
                                                    <label for="floatingTextarea2"> Nota: </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal agregar nota -->
        <div class="modal fade modal-xl" id="agregarnota" tabindex="-1" data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Header del modal -->
                    <div class="modal-header bg-dark">
                        <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                                src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                        <h1 class="modal-title fs-5 text-bg-dark" id="exampleModalLabel"> Agregar nota </h1>
                    </div>

                    <!-- Body del modal -->
                    <div class="modalfondo modal-body">
                        <div class="row d-flex flex-row  contenidoNogta">
                            <div class="col-5  row imgpaciente">
                                <div class="dropdown">
                                    <button class="agregarpacientenota m-4 text-center btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Paciente
                                    </button>
                                    <ul class="agregarpacientenota dropdown-menu">
                                        <li><a class="nombrespan dropdown-item" href="#">Fabiola Martinez</a></li>
                                        <li><a class="nombrespan dropdown-item" href="#">Manuel Fratti</a></li>
                                        <li><a class="nombrespan dropdown-item" href="#">Saarina Merino</a></li>
                                    </ul>
                                </div>

                                <!-- imagen del paciente del modal -->
                                <div class="gap-2 col-6 mx-auto">
                                    <a class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante" role="button">Agregar nota</a>
                                </div>
                            </div>

                            <!-- espacio de nota del modal -->
                            <div class="col-6 row">
                                <div class="d-flex flex-row">
                                    <div class="col ms-5">
                                    </div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="textodenotadefinido form-control mt-3" id="floatingTextarea"
                                   required></textarea>
                                    <label for="floatingTextarea2"> Nota: </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal ver notas paciente definido-->
        <div class="modal fade modal-xl" id="pacientedefinidovernota" tabindex="-1" data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Header del modal -->
                    <div class="modal-header bg-dark">
                        <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                                src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                        <h1 class="modal-title fs-5 text-bg-dark" id="exampleModalLabel"> Editar nota </h1>
                    </div>

                    <!-- Body del modal -->
                    <div class="modalfondo modal-body">
                        <div class="container mt-3 mb-5">
                            <div class="d-flex flex-row">
                                <div class="container">
                                    <div class="row text-white">

                                        <!-- imagen del paciente del modal -->
                                        <div class="row d-flex flex-row contenidoNogta">
                                            <div class="col row imgpaciente ms-4">
                                                <div class="cardfotonota card" >
                                                    <br>
                                                    <img src="../../recursos/img/admin/Paciente1.png"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <p class="card-text text-center" >Juan Rodriguez
                                                        </p>
                                                        <p class="card-text text-center">20220426 </p>
                                                    </div>
                                                </div>
                                                <!-- espacio de notas del modal -->                                           
                                                <div class="col-6 row m-3">
                                                     <!-- tarjeta de notas del modal --> 
                                                    <div class="card my-4">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Nota</h5>
                                                            <p class="card-text">El paciente contaba con dolor muy
                                                                fuerte
                                                                en la parte superior de la espalda
                                                            </p>
                                                            <div class="ms-5 mt-5  text-end  text-body-secondary">
                                                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                                                    data-bs-target="#ModalInterrogante"><img
                                                                        src="../../recursos/img/Trash Can.png" alt=""
                                                                        width="30px">
                                                                    <p class="card-text"> Eliminar </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                      <!-- tarjeta de notas del modal --> 
                                                    <div class="card my-4">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Nota</h5>
                                                            <p class="card-text">El paciente contaba con dolor muy
                                                                fuerte
                                                                en la parte superior de la espalda
                                                            </p>
                                                            <div class="ms-5 mt-5  text-end  text-body-secondary">
                                                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                                                    data-bs-target="#ModalInterrogante"><img
                                                                        src="../../recursos/img/Trash Can.png" alt=""
                                                                        width="30px">
                                                                    <p class="card-text"> Eliminar </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                      <!-- tarjeta de notas del modal --> 
                                                    <div class="card my-4">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Nota</h5>
                                                            <p class="card-text">El paciente contaba con dolor muy
                                                                fuerte
                                                                en la parte superior de la espalda
                                                            </p>
                                                            <div class="ms-5 mt-5  text-end  text-body-secondary">
                                                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                                                    data-bs-target="#ModalInterrogante"><img
                                                                        src="../../recursos/img/Trash Can.png" alt=""
                                                                        width="30px">
                                                                    <p class="card-text"> Eliminar </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


 
            <!-- Clase del footer -->
            <footer id="footer">

            </footer>

    </main>

               <!-- Modal Interrogante -->
               <div class="modal fade" id="ModalInterrogante" tabindex="-1" data-bs-backdrop="static"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered">
                   <div class="modal-content">

                       <!-- Body del modal -->
                       <div class="modal-body text-center">
                           <img src="../../recursos/img/Interrogante.png" alt="" width="100px">
                           <p class="mt-2"> ¿Estas seguro de realizar estos cambios? </p>
                           <hr>
                           <button type="button" id="BtnInterrogante" class="btn bg-dark text-light me-2"
                               data-bs-toggle="modal" data-bs-target="#ModalRealizado"> Si </button>
                           <button type="button" class="btn bg-dark text-light" data-bs-dismiss="modal"> No </button>
                       </div>
                   </div>
               </div>
           </div>

           <!-- Modal Cambio realizado de eliminacion-->
           <div class="modal fade" id="ModalRealizado" tabindex="-1" data-bs-backdrop="static"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered">
                   <div class="modal-content">

                       <!-- Body del modal -->
                       <div class="modal-body text-center">
                           <img src="../../recursos/img/Listo.png" alt="" width="100px">
                           <p class="mt-2"> Se elimino nota.</p>
                           <div class="progress">
                               <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0"
                                   aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>


    <!-- Javascript boostrap -->
    <script src="../../recursos/js/bootstrap_js.js"></script>

    <!-- Javascript footer -->
    <script src="../../controllers/utils/admin/plantilla_completa.js"></script>

    <!-- Javascript de alerta modal -->
    <script src="../../controllers/admin/alerta.js"></script>


</body>


</html>