<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>Quiropráctica Específica</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/barrahorizontal.css">
    <link rel="stylesheet" href="../../resources/css/admin/perfil.css">
</head>

<body>

    <!-- Contenedor principal -->
    <main class="container">

        <!-- Contenedor del perfil -->
        <div class="container bg-white position-absolute top-50 start-50 translate-middle rounded-3">
            <div class="row">
                <div class="col text-center">
                    <div class="m-3">
                        <i class="bi bi-person" id="User"></i>
                    </div>
                    <h3 class="fs-4 fw-medium" id="nombreAdmin" name="nombreAdmin"></h3>
                    <h5 class="fs-6 fw-normal text-secondary" id="correoAdmin" name="correoAdmin"></h5>
                    <div class="d-flex mt-4">
                        <button type="button" class="btn fw-bold w-100 text-white" id="ButtonPassword"
                            onclick="openPassword()">Cambiar contraseña</button>
                    </div>
                    <div class="d-flex mt-2">
                        <button type="button" class="btn fw-bold w-100" id="ButtonEdit" onclick="openProfile()">Editar
                            perfil</button>
                    </div>
                    <div class="d-flex mt-2">
                        <button type="button" class="btn fw-bold w-100" id="ButtonDelete"
                            onclick="openDelete()">Eliminar
                            perfil</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Password -->
        <div class="modal fade" id="passwordModal" data-bs-theme="dark" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="passwordForm">
                            <div class="d-flex justify-content-between">
                                <h1 class="modal-title fs-5 TituloModal">Actualizar contraseña
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <p class="text-white">Ingresa tu contraseña actual y la nueva contraseña para actualizarla
                                en tu cuenta.
                            </p>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <p class="TituloModal text-end">Contraseña Actual</p>
                                    </div>
                                    <div class="col-9">
                                        <input type="password" id="contraseñaActual" name="contraseñaActual"
                                            class="form-control" aria-describedby="passwordHelpInline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <p class="TituloModal text-end">Contraseña Nueva</p>
                                    </div>
                                    <div class="col-9">
                                        <input type="password" id="contraseñaNueva" name="contraseñaNueva"
                                            class="form-control" aria-describedby="passwordHelpInline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn fw-bold" id="ButtonPassword">Actualizar
                                    contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Perfil -->
        <div class="modal fade" id="PerfilModal" data-bs-theme="dark" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="editForm">
                            <div class="d-flex justify-content-between">
                                <h1 class="modal-title fs-5 TituloModal">Actualizar perfil
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <p class="text-white">Ingresa los nuevos datos para actualizar tu cuenta.</p>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <p class="TituloModal text-end">Nombre Completo</p>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" id="nombreAdminPerfil" name="nombreAdminPerfil"
                                            class="form-control" aria-describedby="passwordHelpInline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <p class="TituloModal text-end">Correo Electronico</p>
                                    </div>
                                    <div class="col-9">
                                        <input type="email" id="correoAdminPerfil" name="correoAdminPerfil"
                                            class="form-control" aria-describedby="passwordHelpInline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn fw-bold" id="ButtonPassword">Actualizar
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Delete -->
        <div class="modal fade" id="deleteModal" data-bs-theme="dark" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="deleteForm">
                            <div class="d-flex justify-content-between">
                                <h1 class="modal-title fs-5 tituloDelete">Eliminar perfil
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <p class="text-white">Ingresa tu contraseña para verificar la autorización 
                                del usuario para realizar la eliminación del perfil.
                            </p>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <p class="tituloDelete text-end">Contraseña actual</p>
                                    </div>
                                    <div class="col-9">
                                        <input type="password" id="contraseñaAdmin" name="contraseñaAdmin"
                                            class="form-control" aria-describedby="passwordHelpInline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn fw-bold" id="ButtonDelete">Verificar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Importaciones -->
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/chart.umd.min.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../controllers/admin/perfil.js"></script>
    <script src="../../controllers/utils/inactividad.js"></script>
</body>

</html>