<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>Quiropráctica Específica</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icons/icon.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/barrahorizontal.css">
    <link rel="stylesheet" href="../../resources/css/admin/perfil.css">
</head>

<body>

    <!-- Contenedor principal -->
    <main class="container">

        <h2 class="text-white text-center mt-5">Información de perfil</h2>
        <div id="perfil" class=" mt-3 text-center position-relative mb-5">
            <h4 class="text-white text-center">Imagen perfil</h4>
            <div class="position-relative d-inline-block mb-5">
                <img id="imagenInicio"
                    class="rounded mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                    src="http://localhost/expo_2024_v2/api/images/administradores/" alt="..." width="200px"
                    height="300px" onerror="this.onerror=null; this.src='../../resources/img/error/administrador.jpg';"
                    style="max-width: 100%; max-height: 100%;">
                <!-- Botón centrado en la parte inferior -->
            </div>
            <button type="button" onclick="openEmpleadoImagen()"
                class="btn btn-primary position-absolute bottom-0 start-50 translate-middle-x mt-5 ">
                Actualizar imagen
            </button>
        </div>

        <!-- información de administrador -->
        <div class="accordion container mx-auto accordion-flush conteinerInicio col-5 mt-5" id="accordionFlushExample">
            <div class="accordion-item conteinerInicio">
                <h2 class="accordion-header conteinerInicio">
                    <button class="accordion-button collapsed conteinerInicio text-white text-center" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                        Datos de administrador
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse conteinerInicio"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body conteinerInicio text-center"> <!-- Alineación central -->

                        <h4 class="text-white" name="Empleado">Nombre Usuario</h4>
                        <label class="fw-normal text-secondary" id="nombreAdmin" name="nombreAdmin">Aquí el nombre del
                            administrador</label>

                        <h4 class="text-white mt-3" name="Empleado">Correo Usuario</h4>
                        <!-- Añadido margen superior para separar elementos -->
                        <label class="fw-normal text-secondary" id="correoAdmin" name="correoAdmin">Aquí el correo del
                            administrador</label>

                        <div class="d-flex flex-column align-items-center mt-4"> <!-- Alineación de botones centrada -->
                            <button type="button" class="btn fw-bold w-100 text-white mb-2" id="ButtonPassword"
                                onclick="openPassword()">Cambiar contraseña</button>
                            <button type="button" class="btn fw-bold w-100 mb-2" id="ButtonEdit"
                                onclick="openProfile()">Editar perfil</button>
                            <button type="button" class="btn fw-bold w-100" id="ButtonDelete"
                                onclick="openDelete()">Eliminar perfil</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- información de empleado -->
        <div class="mt-5 col-sm-12 col-md-12 col-lg-6 container  mb-3">
            <div class="row">
                <div class="col text-center card conteinerInicio">
                    <div>
                        <h2 class="mb-2 text-white">Información de empleado</h2>
                    </div>
                    <h4 class="text-white" name="Empleado"> Nombre Completo</h4>
                    <label class="fw-normal text-secondary" id="empleadoNombre" name="Empleado"> </label>
                    <label class="mb-2 fw-normal text-secondary" id="empleadoApellido" name="Empleado"></label>
                    <h4 class="text-white" name="Empleado">especialidad medica</h4>
                    <label class="mb-2 fw-normal text-secondary" id="empleadoEspecialidad" name="Empleado"></label>
                    <h4 class="text-white" name="Empleado">DUI</h4>
                    <label class="mb-2 fw-normal text-secondary" id="empleadoDUI" name="Empleado"></label>
                    <h4 class="text-white" name="Empleado">Correo electrónico</h4>
                    <label class="mb-2 fw-normal text-secondary" id="empleadoCorreo" name="Empleado"></label>
                    <h4 class="text-white" name="Empleado">fecha nacimiento</h4>
                    <label class="mb-2 fw-normal text-secondary mb-2" id="empleadoFecha" name="Empleado">
                    </label>
                    <div class="d-flex mb-2">
                        <button type="button" class="btn fw-bold w-100 btn-light texto-verde"
                            onclick="openEmpleado()">Editar Datos</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Modal Password -->
        <div class="modal fade" id="passwordModal" data-bs-theme="dark" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="passwordForm">
                            <div class="d-flex justify-content-between">
                                <h1 class="modal-title fs-5 TituloModal">Actualizar contraseña
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <p class="text-white">Ingresa tu contraseña actual y la nueva contraseña para
                                actualizarla
                                en tu cuenta.
                            </p>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <p class="TituloModal text-end">Contraseña Actual</p>
                                    </div>
                                    <div class="col-9">
                                        <input type="password" id="contraseñaActual" name="contraseñaActual"
                                            class="form-control" aria-describedby="passwordHelpInline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <p class="TituloModal text-end">Contraseña Nueva</p>
                                    </div>
                                    <div class="col-9">
                                        <input type="password" id="contraseñaNueva" name="contraseñaNueva"
                                            class="form-control" aria-describedby="passwordHelpInline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn fw-bold" id="ButtonPassword">Actualizar
                                    contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Imagen -->
        <div class="modal fade" id="imagenModal" data-bs-theme="dark" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="imagenForm">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="number" class="d-none" id="empleadoID" name="empleadoID">

                            <div class="d-flex justify-content-between">
                                <h1 class="modal-title fs-5 TituloModal">Actualizar imagen
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <p class="text-white">seleccione la imagen a actualizar
                            </p>
                            <div class="col-12">
                                <img id="imagenMuestra"
                                    class="rounded  mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                    src="../../resources/img/persona.png" alt="..." width="200px" height="200px">
                            </div>
                            <div class="col-12">
                                <label for="imagenEmpleado" class="form-label">Imagen Empleado</label>
                                <input id="imagenEmpleado" type="file" name="imagenEmpleado" class="form-control"
                                    accept=".png, .jpg">
                            </div>

                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn fw-bold" id="ButtonPassword">Actualizar
                                    contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Perfil -->
        <div class="modal fade" id="PerfilModal" data-bs-theme="dark" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="editForm">
                            <div class="d-flex justify-content-between">
                                <h1 class="modal-title fs-5 TituloModal">Actualizar perfil
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <p class="text-white">Ingresa los nuevos datos para actualizar tu cuenta.</p>
                            <div class="col-12">
                                <div class="row ">
                                    <div class="col-3">
                                        <p class="TituloModal text-end">Nombre Completo</p>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" id="nombreAdminPerfil" name="nombreAdminPerfil"
                                            class="form-control" aria-describedby="passwordHelpInline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <p class="TituloModal text-end">Correo Electronico</p>
                                    </div>
                                    <div class="col-9">
                                        <input type="email" id="correoAdminPerfil" name="correoAdminPerfil"
                                            class="form-control" aria-describedby="passwordHelpInline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn fw-bold" id="ButtonPassword">Actualizar
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Delete -->
        <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-theme="dark" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="deleteForm">
                            <div class="d-flex justify-content-between">
                                <h1 class="modal-title fs-5 tituloDelete">Eliminar perfil
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <p class="text-white">Ingresa tu contraseña para verificar la autorización
                                del usuario para realizar la eliminación del perfil.
                            </p>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <p class="tituloDelete text-end">Contraseña actual</p>
                                    </div>
                                    <div class="col-9">
                                        <input type="password" id="contraseñaAdmin" name="contraseñaAdmin"
                                            class="form-control" aria-describedby="passwordHelpInline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn fw-bold" id="ButtonDelete">Verificar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal agregar Empleado -->
        <div class="modal fade" id="empleadoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="empleadoForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="hide"  id="idEmpleado" name="idEmpleado">
                        <div class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"> </h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="form-label">Nombre(s)</label>
                                                <input id="nombreEmpleado" name="nombreEmpleado" class="form-control"
                                                    autocomplete="off" required oninput="formatAlphabetic(this)">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Apellido(s)</label>
                                                <input id="apellidoEmpleado" name="apellidoEmpleado" autocomplete="off"
                                                    class="form-control" required oninput="formatAlphabetic(this)">
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label class="form-label">Correo electronico</label>
                                            <input id="correoEmpleado" name="correoEmpleado" class="form-control"
                                                autocomplete="off" required oninput="formatEmail(this)">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6 mt-3">
                                                    <label class="form-label">Documento de identidad</label>
                                                    <input id="duiEmpleado" name="duiEmpleado" class="form-control"
                                                        autocomplete="off" required oninput="formatDui(this)">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <label class="form-label">Fecha de nacimiento</label>
                                                    <input id="fechaEmpleado" name="fechaEmpleado" type="date"
                                                        autocomplete="off" class="form-control" required
                                                        oninput="validarFecha(this)">
                                                </div>
                                            </div>
                                            <div class="form-check form-switch form-check-reverse mt-3">
                                                <input class="form-check-input" type="checkbox" id="estadoEmpleado"
                                                    name="estadoEmpleado" checked>
                                                <label class="form-check-label" for="estadoEmpleado">Estado</label>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-6"></div>
                                                <div class="col-6 text-end">
                                                    <button type="submit" class="btn btn-primary ps-4 pe-4">
                                                        <i class="bi bi-person-fill-add me-1"></i> Actualizar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Importaciones -->
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/chart.umd.min.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../controllers/admin/perfil.js"></script>
    <script src="../../controllers/utils/inactividad.js"></script>
</body>

</html>