<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
    <!--Script para ponerle icono a la pagina-->
    <link rel="icon" href="../../resources/img/iconos/icon.jpg">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
</head>
<body>
    <!-- contenido del header generado automáticamente -->
    <header></header>
    <!-- contenido principal -->
    <main>
    </main>
    <script src="../../controllers/utils/componets.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js1"></script>
</body>
</html>