<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../recursos/css/boostrap_css.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../recursos/css/servicios.css">
    <title>Ajuste de columna</title>
</head>

<body>
    <main> <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> clic
        </button>
         <!-- Modal -->

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header" id="headercolor">
                        <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                                src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajuste de columna</h1>
                    </div>
                    <div class="modal-body row g-3">
                        <div class="col-sm-12 col-md-8 justify-content-center">
                            <label for="AgregarImagenColumna" class="form-label"><img
                                    src="../../recursos/img/admin/columna.png" class="img-fluid" alt="" width="700px"
                                    height="700px"></i></a></label>
                            <div class="col-sm-12 col-md-4">
                                <input id="AgregarImagenColumna" type="file" name="AgregarImagenColumna"
                                    class="form-control" accept=".png, .jpg">
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary cente" id="botondescripcion">
                                    Descripcion
                                </button>
                            </div> 
                            <div class="col text-center">
                                <button type="button" class="btn btn-secondary  text-center" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop02" id="botonbeneficios">
                                    Beneficios
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-12 ">
                            <form action="row g-2">
                                <label for="Descripcion01" class="form-label"> </label>
                                <input type="text" class="form-control" id="Descripcion01"
                                placeholder="Descripciòn" aria-label="Descripcion"
                                aria-describedby="basic-addon1" required>

                                 <div class="mb-3">
                                    <label for="Texto01" class="form-label"></label>
                                    <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                              </div>
                            </form>
                        </div>
                        <div class="col-sm-12  col-md-12 ">
                            <div class="col text-center ">
                                <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                    Realizar Cambios
                                </button>
                            </div> 
                        </div>
                        
                    </div>
                </div>
            </div> 
        </div> 
        
        <div class="modal fade" id="staticBackdrop02" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header" id="headercolor">
                        <button type="button" class="btn " data-bs-target="#staticBackdrop" data-bs-toggle="modal"> <img
                                src="../../recursos/img/Atras.png" alt="" width="20px"></button>

                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajuste de columna</h1>
                    </div>
                    <div class="modal-body row g-3">
                        <div class="col-sm-12 col-md-8 justify-content-center">
                            <label for="AgregarImagenColumna" class="form-label"><img
                                    src="../../recursos/img/admin/columna.png" class="img-fluid" alt="" width="700px"
                                    height="700px"></i></a></label>
                            <div class="col-sm-12 col-md-4">
                                <input id="AgregarImagenColumna" type="file" name="AgregarImagenColumna"
                                    class="form-control" accept=".png, .jpg">
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary cente" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" id="botondescripcion">
                                    Descripcion
                                </button>
                            </div> 
                            <div class="col text-center">
                                <button type="button" class="btn btn-secondary  text-center"  id="botonbeneficios">
                                    Beneficios
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-12 ">
                            <form action="row g-2">
                                
                                 <div class="mb-3">
                                    <label for="Texto01" class="form-label"></label>
                                    <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                              </div>
                            </form>
                        </div>
                        <div class="col-sm-12  col-md-12 ">
                            <div class="col text-center ">
                                <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                    Realizar Cambios
                                </button>
                            </div> 
                        </div>
                        
                    </div>
                </div>
            </div> 
        </div>
        <!--modal agregar servicio-->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop03"> Agregar Servicio
        </button>
         <!-- Modal -->

        <div class="modal fade" id="staticBackdrop03" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header" id="headercolor">
                        <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                                src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajuste de columna</h1>
                    </div>
                    <div class="modal-body row g-3">
                        <div class="col-sm-12 col-md-8 justify-content-center">
                            <label for="AgregarImagenColum01" class="form-label">Imagen</label>
                            <input id="AgregarImagenColum01" type="file" name="AgregarImagenColum01" class="form-control"
                                accept=".png, .jpg">

                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary cente" id="botondescripcion">
                                    Descripcion
                                </button>
                            </div> 
                            <div class="col text-center">
                                <button type="button" class="btn btn-secondary  text-center" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop04" id="botonbeneficios">
                                    Beneficios
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-12 ">
                            <form action="row g-2">
                                <label for="Descripcion01" class="form-label"> </label>
                                <input type="text" class="form-control" id="Descripcion01"
                                placeholder="Descripciòn" aria-label="Descripcion"
                                aria-describedby="basic-addon1" required>

                                 <div class="mb-3">
                                    <label for="Texto01" class="form-label"></label>
                                    <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                              </div>
                            </form>

                           
                        </div>
                        
                        <div class="col-sm-12  col-md-12 ">
                            <div class="col text-center ">
                                <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                    Realizar Cambios
                                </button>
                            </div> 
                        </div>
                        
                    </div>
                </div>
            </div> 
        </div> 
        
        <div class="modal fade" id="staticBackdrop04" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header" id="headercolor">
                        <button type="button" class="btn " data-bs-target="#staticBackdrop03" data-bs-toggle="modal"> <img
                                src="../../recursos/img/Atras.png" alt="" width="20px"></button>

                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajuste de columna</h1>
                    </div>
                    <div class="modal-body row g-3">
                        <div class="col-sm-12 col-md-8 justify-content-center">
                            <label for="AgregarImagenColum02" class="form-label">Imagen</label>
                            <input id="AgregarImagenColum02" type="file" name="AgregarImagenColum02" class="form-control"
                                accept=".png, .jpg">

                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary cente" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop03" id="botondescripcion">
                                    Descripcion
                                </button>
                            </div> 
                            <div class="col text-center">
                                <button type="button" class="btn btn-secondary  text-center"  id="botonbeneficios">
                                    Beneficios
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-12 ">
                            <form action="row g-2">
                                
                                 <div class="mb-3">
                                    <label for="Texto01" class="form-label"></label>
                                    <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                              </div>
                            </form>
                        </div>
                        <div class="col-sm-12  col-md-12 ">
                            <div class="col text-center ">
                                <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante"> 
                                    Realizar Cambios
                                </button>
                            </div> 
                        </div>
                        
                    </div>
                </div>
            </div> 
        </div>

         <!-- Modal Interrogante -->
         <div class="modal fade" id="ModalInterrogante" tabindex="-1" data-bs-backdrop="static"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
             <div class="modal-content">

                 <!-- Body del modal -->
                 <div class="modal-body text-center">
                     <img src="../../recursos/img/Interrogante.png" alt="" width="100px">
                     <p class="mt-2"> ¿Estas seguro de realizar estos cambios? </p>
                     <hr>
                     <button type="button" id="BtnInterrogante" class="btn bg-dark text-light me-2"
                         data-bs-toggle="modal" data-bs-target="#ModalRealizado"> Si </button>
                     <button type="button" class="btn bg-dark text-light" data-bs-dismiss="modal"> No </button>
                 </div>
             </div>
         </div>
     </div>

     <!-- Modal Cambio realizado -->
     <div class="modal fade" id="ModalRealizado" tabindex="-1" data-bs-backdrop="static"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
             <div class="modal-content">

                 <!-- Body del modal -->
                 <div class="modal-body text-center">
                     <img src="../../recursos/img/Listo.png" alt="" width="100px">
                     <p class="mt-2"> Cambios realizados. </p>
                     <div class="progress">
                         <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <!--modal correcciones posturales-->

     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop06"> posturales
    </button>
     <!-- Modal -->

    <div class="modal fade" id="staticBackdrop06" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="headercolor">
                    <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                            src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">correcciones posturales</h1>
                </div>
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-8 justify-content-center">
                        <label for="AgregarImagenposturales" class="form-label"><img
                                src="../../recursos/img/admin/posturales.png" class="img-fluid" alt="" width="700px"
                                height="700px"></i></a></label>
                        <div class="col-sm-12 col-md-4">
                            <input id="AgregarImagenposturales" type="file" name="AgregarImagenposturales"
                                class="form-control" accept=".png, .jpg">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary cente" id="botondescripcion">
                                Descripcion
                            </button>
                        </div> 
                        <div class="col text-center">
                            <button type="button" class="btn btn-secondary  text-center" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop07" id="botonbeneficios">
                                Beneficios
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <form action="row g-2">
                            <label for="Descripcion01" class="form-label"> </label>
                            <input type="text" class="form-control" id="Descripcion01"
                            placeholder="Descripciòn" aria-label="Descripcion"
                            aria-describedby="basic-addon1" required>

                             <div class="mb-3">
                                <label for="Texto01" class="form-label"></label>
                                <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                          </div>
                        </form>

                       
                    </div>
                    
                    <div class="col-sm-12  col-md-12 ">
                        <div class="col text-center ">
                            <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                Realizar Cambios
                            </button>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div> 
    </div> 
    
    <div class="modal fade" id="staticBackdrop07" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="headercolor">
                    <button type="button" class="btn " data-bs-target="#staticBackdrop06" data-bs-toggle="modal"> <img
                            src="../../recursos/img/Atras.png" alt="" width="20px"></button>

                    <h1 class="modal-title fs-5" id="staticBackdropLabel">correcciones posturales</h1>
                </div>
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-8 justify-content-center">
                        <label for="AgregarImagenposturales" class="form-label"><img
                                src="../../recursos/img/admin/posturales.png" class="img-fluid" alt="" width="700px"
                                height="700px"></i></a></label>
                        <div class="col-sm-12 col-md-4">
                            <input id="AgregarImagenposturales" type="file" name="AgregarImagenposturales"
                                class="form-control" accept=".png, .jpg">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary cente" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop06" id="botondescripcion">
                                Descripcion
                            </button>
                        </div> 
                        <div class="col text-center">
                            <button type="button" class="btn btn-secondary  text-center"  id="botonbeneficios">
                                Beneficios
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <form action="row g-2">
                            
                             <div class="mb-3">
                                <label for="Texto01" class="form-label"></label>
                                <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                          </div>
                        </form>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <div class="col text-center ">
                            <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                Realizar Cambios
                            </button>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>

    <!--modal Tratamiento preventivos-->

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop08"> preventivos
    </button>
     <!-- Modal -->

    <div class="modal fade" id="staticBackdrop08" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="headercolor">
                    <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                            src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Tratamiento preventivos</h1>
                </div>
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-8 justify-content-center">
                        <label for="AgregarImagenpreventivos" class="form-label"><img
                                src="../../recursos/img/admin/preventivo.png" class="img-fluid" alt="" width="700px"
                                height="700px"></i></a></label>
                        <div class="col-sm-12 col-md-4">
                            <input id="AgregarImagenpreventivos" type="file" name="AgregarImagenpreventivos"
                                class="form-control" accept=".png, .jpg">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary cente" id="botondescripcion">
                                Descripcion
                            </button>
                        </div> 
                        <div class="col text-center">
                            <button type="button" class="btn btn-secondary  text-center" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop09" id="botonbeneficios">
                                Beneficios
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <form action="row g-2">
                            <label for="Descripcion01" class="form-label"> </label>
                            <input type="text" class="form-control" id="Descripcion01"
                            placeholder="Descripciòn" aria-label="Descripcion"
                            aria-describedby="basic-addon1" required>

                             <div class="mb-3">
                                <label for="Texto01" class="form-label"></label>
                                <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                          </div>
                        </form>

                       
                    </div>
                    
                    <div class="col-sm-12  col-md-12 ">
                        <div class="col text-center ">
                            <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                Realizar Cambios
                            </button>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div> 
    </div> 
    
    <div class="modal fade" id="staticBackdrop09" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="headercolor">
                    <button type="button" class="btn " data-bs-target="#staticBackdrop08" data-bs-toggle="modal"> <img
                            src="../../recursos/img/Atras.png" alt="" width="20px"></button>

                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Tratamiento preventivos</h1>
                </div>
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-8 justify-content-center">
                        <label for="AgregarImagenpreventivos" class="form-label"><img
                                src="../../recursos/img/admin/preventivo.png" class="img-fluid" alt="" width="700px"
                                height="700px"></i></a></label>
                        <div class="col-sm-12 col-md-4">
                            <input id="AgregarImagenpreventivos" type="file" name="AgregarImagenpreventivos"
                                class="form-control" accept=".png, .jpg">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary cente" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop08" id="botondescripcion">
                                Descripcion
                            </button>
                        </div> 
                        <div class="col text-center">
                            <button type="button" class="btn btn-secondary  text-center"  id="botonbeneficios">
                                Beneficios
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <form action="row g-2">
                            
                             <div class="mb-3">
                                <label for="Texto01" class="form-label"></label>
                                <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                          </div>
                        </form>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <div class="col text-center ">
                            <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                Realizar Cambios
                            </button>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>

    <!--modal Deteccion de problemas-->

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop_10"> Deteccion
    </button>
     <!-- Modal -->

    <div class="modal fade" id="staticBackdrop_10" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="headercolor">
                    <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                            src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Deteccion de problemas</h1>
                </div>
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-8 justify-content-center">
                        <label for="AgregarImagenDeteccion" class="form-label"><img
                                src="../../recursos/img/admin/deteccion_problemas.png" class="img-fluid" alt="" width="700px"
                                height="700px"></i></a></label>
                        <div class="col-sm-12 col-md-4">
                            <input id="AgregarImagenDeteccion" type="file" name="AgregarImagenDeteccion"
                                class="form-control" accept=".png, .jpg">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary cente" id="botondescripcion">
                                Descripcion
                            </button>
                        </div> 
                        <div class="col text-center">
                            <button type="button" class="btn btn-secondary  text-center" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop_11" id="botonbeneficios">
                                Beneficios
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <form action="row g-2">
                            <label for="Descripcion01" class="form-label"> </label>
                            <input type="text" class="form-control" id="Descripcion01"
                            placeholder="Descripciòn" aria-label="Descripcion"
                            aria-describedby="basic-addon1" required>

                             <div class="mb-3">
                                <label for="Texto01" class="form-label"></label>
                                <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                          </div>
                        </form>

                       
                    </div>
                    
                    <div class="col-sm-12  col-md-12 ">
                        <div class="col text-center ">
                            <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                Realizar Cambios
                            </button>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div> 
    </div> 
    
    <div class="modal fade" id="staticBackdrop_11" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="headercolor">
                    <button type="button" class="btn " data-bs-target="#staticBackdrop_10" data-bs-toggle="modal"> <img
                            src="../../recursos/img/Atras.png" alt="" width="20px"></button>

                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Deteccion de problemas</h1>
                </div>
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-8 justify-content-center">
                        <label for="AgregarImagenDeteccion" class="form-label"><img
                                src="../../recursos/img/admin/deteccion_problemas.png" class="img-fluid" alt="" width="700px"
                                height="700px"></i></a></label>
                        <div class="col-sm-12 col-md-4">
                            <input id="AgregarImagenDeteccion" type="file" name="AgregarImagenDeteccion"
                                class="form-control" accept=".png, .jpg">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary cente" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop_10" id="botondescripcion">
                                Descripcion
                            </button>
                        </div> 
                        <div class="col text-center">
                            <button type="button" class="btn btn-secondary  text-center"  id="botonbeneficios">
                                Beneficios
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <form action="row g-2">
                            
                             <div class="mb-3">
                                <label for="Texto01" class="form-label"></label>
                                <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                          </div>
                        </form>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <div class="col text-center ">
                            <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                Realizar Cambios
                            </button>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>


    <!--modal acupuntura-->

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop_12"> acupuntura
    </button>
     <!-- Modal -->

    <div class="modal fade" id="staticBackdrop_12" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="headercolor">
                    <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                            src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Acupuntura</h1>
                </div>
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-8 justify-content-center">
                        <label for="AgregarImagenAcupuntura" class="form-label"><img
                                src="../../recursos/img/admin/acupuntura.png" class="img-fluid" alt="" width="700px"
                                height="700px"></i></a></label>
                        <div class="col-sm-12 col-md-4">
                            <input id="AgregarImagenAcupuntura" type="file" name="AgregarImagenAcupuntura"
                                class="form-control" accept=".png, .jpg">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary cente" id="botondescripcion">
                                Descripcion
                            </button>
                        </div> 
                        <div class="col text-center">
                            <button type="button" class="btn btn-secondary  text-center" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop_13" id="botonbeneficios">
                                Beneficios
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <form action="row g-2">
                            <label for="Descripcion01" class="form-label"> </label>
                            <input type="text" class="form-control" id="Descripcion01"
                            placeholder="Descripciòn" aria-label="Descripcion"
                            aria-describedby="basic-addon1" required>

                             <div class="mb-3">
                                <label for="Texto01" class="form-label"></label>
                                <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                          </div>
                        </form>

                       
                    </div>
                    
                    <div class="col-sm-12  col-md-12 ">
                        <div class="col text-center ">
                            <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                Realizar Cambios
                            </button>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div> 
    </div> 
    
    <div class="modal fade" id="staticBackdrop_13" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="headercolor">
                    <button type="button" class="btn " data-bs-target="#staticBackdrop_12" data-bs-toggle="modal"> <img
                            src="../../recursos/img/Atras.png" alt="" width="20px"></button>

                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Acupuntura</h1>
                </div>
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-8 justify-content-center">
                        <label for="AgregarImagenAcupuntura" class="form-label"><img
                                src="../../recursos/img/admin/acupuntura.png" class="img-fluid" alt="" width="700px"
                                height="700px"></i></a></label>
                        <div class="col-sm-12 col-md-4">
                            <input id="AgregarImagenAcupuntura" type="file" name="AgregarImagenAcupuntura"
                                class="form-control" accept=".png, .jpg">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary cente" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop_12" id="botondescripcion">
                                Descripcion
                            </button>
                        </div> 
                        <div class="col text-center">
                            <button type="button" class="btn btn-secondary  text-center"  id="botonbeneficios">
                                Beneficios
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <form action="row g-2">
                            
                             <div class="mb-3">
                                <label for="Texto01" class="form-label"></label>
                                <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                          </div>
                        </form>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <div class="col text-center ">
                            <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                Realizar Cambios
                            </button>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>


    <!--modal Aliviar dolores-->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop_14"> dolores
    </button>
     <!-- Modal -->

    <div class="modal fade" id="staticBackdrop_14" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="headercolor">
                    <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"> <img
                            src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Aliviar dolores</h1>
                </div>
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-8 justify-content-center">
                        <label for="AgregarImagenAliviar" class="form-label"><img
                                src="../../recursos/img/admin/aliviar.png" class="img-fluid" alt="" width="700px"
                                height="700px"></i></a></label>
                        <div class="col-sm-12 col-md-4">
                            <input id="AgregarImagenAliviar" type="file" name="AgregarImagenAliviar"
                                class="form-control" accept=".png, .jpg">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary cente" id="botondescripcion">
                                Descripcion
                            </button>
                        </div> 
                        <div class="col text-center">
                            <button type="button" class="btn btn-secondary  text-center" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop_15" id="botonbeneficios">
                                Beneficios
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <form action="row g-2">
                            <label for="Descripcion01" class="form-label"> </label>
                            <input type="text" class="form-control" id="Descripcion01"
                            placeholder="Descripciòn" aria-label="Descripcion"
                            aria-describedby="basic-addon1" required>

                             <div class="mb-3">
                                <label for="Texto01" class="form-label"></label>
                                <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                          </div>
                        </form>

                       
                    </div>
                    
                    <div class="col-sm-12  col-md-12 ">
                        <div class="col text-center ">
                            <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                Realizar Cambios
                            </button>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div> 
    </div> 
    
    <div class="modal fade" id="staticBackdrop_15" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="headercolor">
                    <button type="button" class="btn " data-bs-target="#staticBackdrop_14" data-bs-toggle="modal"> <img
                            src="../../recursos/img/Atras.png" alt="" width="20px"></button>

                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Aliviar dolores</h1>
                </div>
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-8 justify-content-center">
                        <label for="AgregarImagenAliviar" class="form-label"><img
                                src="../../recursos/img/admin/aliviar.png" class="img-fluid" alt="" width="700px"
                                height="700px"></i></a></label>
                        <div class="col-sm-12 col-md-4">
                            <input id="AgregarImagenAliviar" type="file" name="AgregarImagenAliviar"
                                class="form-control" accept=".png, .jpg">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary cente" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop_14" id="botondescripcion">
                                Descripcion
                            </button>
                        </div> 
                        <div class="col text-center">
                            <button type="button" class="btn btn-secondary  text-center"  id="botonbeneficios">
                                Beneficios
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <form action="row g-2">
                            
                             <div class="mb-3">
                                <label for="Texto01" class="form-label"></label>
                                <textarea class="form-control" id="Texto01" placeholder="Texto" aria-label="Texto" rows="3"></textarea>
                          </div>
                        </form>
                    </div>
                    <div class="col-sm-12  col-md-12 ">
                        <div class="col text-center ">
                            <button type="button" class="btn btn-primary " id="botoncambios" data-bs-toggle="modal" data-bs-target="#ModalInterrogante">
                                Realizar Cambios
                            </button>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>


    </main>

    <script src="../../controllers/admin/alerta.js"></script>
</body>

</html>