<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>Quiropráctica Específica</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/ingresar.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/barrahorizontal.css">
</head>

<body>

    <!-- Contenedor principal -->
    <main class="container SingUp">

        <!-- Contenedor principal para la sección de registro -->
        <div class="container mt-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col col-xl-10">

                    <!-- Tarjeta que almacena el formulario de registro -->
                    <div class="card bg-dark rounded">

                        <div class="row g-3">

                            <!-- Imagen de fondo en pantallas grandes -->
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="../../resources/img/admin/espaldadolor.png" alt="login form" height="820px"
                                    width="450px" class="rounded" />
                            </div>

                            <!-- Columna para el formulario de registro -->
                            <div class="col-md-12 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-white">

                                    <form id="signupForm">
                                        <form class="needs-validation">

                                            <h3 class="fw-bold text-white">Registro de primer Administrador</h3>

                                            <div class="col-12">
                                                <img id="imagenMuestra"
                                                    class="rounded  mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                                    src="../../resources/img/persona.png" alt="..." width="200px"
                                                    height="200px">
                                            </div>
                                            <div class="col-12">
                                                <label for="imagenAdmin" class="form-label">Imagen Admin</label>
                                                <input id="imagenAdmin" type="file" name="imagenAdmin" class="form-control"
                                                    accept=".png, .jpg">
                                            </div>
                                            <!-- Campo de correo electrónico -->
                                            <div class="form-outline mt-3">
                                                <label class="form-label" for="correo_admin2">Correo Electrónico</label>
                                                <input type="email" id="correoAdmin2" name="correoAdmin2"
                                                    autocomplete="off" class="form-control" required
                                                    oninput="formatEmail(this)">
                                            </div>

                                            <!-- Campo para nombre del administrador -->
                                            <div class="form-outline mt-3">
                                                <label class="form-label" for="nombre_admin2">Nombre
                                                    Administrador</label>
                                                <input type="text" id="nombreAdmin2" name="nombreAdmin2"
                                                    autocomplete="off" class="form-control" required
                                                    oninput="formatAlphabetic(this)">
                                            </div>

                                            <!-- Campo de contraseña -->
                                            <div class="form-outline mt-3">
                                                <label class="form-label" for="contra_admin2">Contraseña</label>
                                                <input type="password" id="contraAdmin2" name="contraAdmin2"
                                                    autocomplete="off" class="form-control" required
                                                    oninput="formatPassword(this)">
                                            </div>

                                            <!-- Campo para confirmar contraseña -->
                                            <div class="form-outline mt-3">
                                                <label class="form-label" for="confirmar_admin2">Confirmar
                                                    Contraseña</label>
                                                <input type="password" id="confirmarAdmin2" name="confirmarAdmin2"
                                                    autocomplete="off" class="form-control" required
                                                    oninput="formatPassword(this)">
                                            </div>

                                            <!-- Botón para registrar nuevo administrador -->
                                            <div class="mt-3">
                                                <button class="btn btn-primary fw-bold" type="submit">CREAR</button>
                                            </div>
                                        </form>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Importaciones -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/signUpAdmin.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../resources/js/chart.umd.min.js"></script>
    <script src="../../controllers/utils/inactividad.js"></script>
</body>

</html>