<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiropráctica Específica </title>
    <link rel="stylesheet" href="../../recursos/css/boostrap_css.css">
    <link rel="stylesheet" href="../../recursos/css/colores.css">
    <link rel="stylesheet" href="../../recursos/css/general.css">
</head>

<body>
    <header>

    </header>

    <main class="container">

        <div class="row">
            <div class="col-md-6 col-lg-6 text-start">
                <h1 class="display-3">Tratamientos</h1>
            </div>

            <div class="col-md-6 col-lg-6 text-end my-5">
                <div class="btn-group dropend">
                    <button type="button" class="btn color_verde dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Clasificar por...
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Manuel Fratti</a></li>
                        <li><a class="dropdown-item" href="#">Tatiana Molina</a></li>
                        <li><a class="dropdown-item" href="#">Camila Adrado</a></li>
                        <li><a class="dropdown-item" href="#">Daniel Alfaro</a></li>
                    </ul>
                </div>
            </div>

        </div>



        <div class="my-5">
            <!--Comentarios de servicios-->

            <div class="card my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 flex-row row">
                            <img src="../../recursos/img/admin/Paciente1.png" class="img-thumbnail" alt="...">
                            <br>
                            <br>
                            <h6 class="card-title text-center">Juan Rodriguez</h6>
                            <h6 class="card-title text-center">20220425</h6>

                        </div>
                        <div class="col-4 row flex-row">
                            <p>Fecha: 23/06/24
                                <br>
                                <br>
                                Sesiones: 3
                            </p>
                            <div class="text-center">
                                <label for="appt" class="form-label">Hora:</label>
                                <input type="time" id="appt" name="appt">
                            </div>
                        </div>
                        <div class="col-4 row flex-row">
                            <p>Servicios:
                                <br>
                                <br>
                                Ajuste de cardera
                                <br>
                                Masaje preventivo
                            </p>

                        </div>
                        <div class="container text-end mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="40px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#editartratamiento"><img src="../../recursos/img/Edit.png" alt=""
                                        width="40px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 flex-row row">
                            <img src="../../recursos/img/admin/Paciente1.png" class="img-thumbnail" alt="...">
                            <br>
                            <br>
                            <h6 class="card-title text-center">Juan Rodriguez</h6>
                            <h6 class="card-title text-center">20220425</h6>

                        </div>
                        <div class="col-4 row flex-row">
                            <p>Fecha: 23/06/24
                                <br>
                                <br>
                                Sesiones: 3
                            </p>
                            <div class="text-center">
                                <label for="appt" class="form-label">Hora:</label>
                                <input type="time" id="appt" name="appt">
                            </div>
                        </div>
                        <div class="col-4 row flex-row">
                            <p>Servicios:
                                <br>
                                <br>
                                Ajuste de cardera
                                <br>
                                Masaje preventivo
                            </p>

                        </div>
                        <div class="container text-end mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="40px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#editartratamiento"><img src="../../recursos/img/Edit.png" alt=""
                                        width="40px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 flex-row row">
                            <img src="../../recursos/img/admin/Paciente1.png" class="img-thumbnail" alt="...">
                            <br>
                            <br>
                            <h6 class="card-title text-center">Juan Rodriguez</h6>
                            <h6 class="card-title text-center">20220425</h6>

                        </div>
                        <div class="col-4 row flex-row">
                            <p>Fecha: 23/06/24
                                <br>
                                <br>
                                Sesiones: 3
                            </p>
                            <div class="text-center">
                                <label for="appt" class="form-label">Hora:</label>
                                <input type="time" id="appt" name="appt">
                            </div>
                        </div>
                        <div class="col-4 row flex-row">
                            <p>Servicios:
                                <br>
                                <br>
                                Ajuste de cardera
                                <br>
                                Masaje preventivo
                            </p>

                        </div>
                        <div class="container text-end mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="40px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#editartratamiento"><img src="../../recursos/img/Edit.png" alt=""
                                        width="40px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 flex-row row">
                            <img src="../../recursos/img/admin/Paciente1.png" class="img-thumbnail" alt="...">
                            <br>
                            <br>
                            <h6 class="card-title text-center">Juan Rodriguez</h6>
                            <h6 class="card-title text-center">20220425</h6>

                        </div>
                        <div class="col-4 row flex-row">
                            <p>Fecha: 23/06/24
                                <br>
                                <br>
                                Sesiones: 3
                            </p>
                            <div class="text-center">
                                <label for="appt" class="form-label">Hora:</label>
                                <input type="time" id="appt" name="appt">
                            </div>
                        </div>
                        <div class="col-4 row flex-row">
                            <p>Servicios:
                                <br>
                                <br>
                                Ajuste de cardera
                                <br>
                                Masaje preventivo
                            </p>

                        </div>
                        <div class="container text-end mt-4">
                            <div class="col-12">
                                <hr>
                                <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ModalInterrogante"><img src="../../recursos/img/Trash Can.png"
                                        alt="" width="40px">
                                    <p class="card-text"> Eliminar </p>
                                </a>
                                <a href="" data-bs-toggle="modal" data-bs-target="#editartratamiento"
                                    class="btn btn-light"><img src="../../recursos/img/Edit.png" alt="" width="40px">
                                    <p class="card-text"> Editar </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Interrogante -->
        <div class="modal fade" id="ModalInterrogante" tabindex="-1" data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Body del modal -->
                    <div class="modal-body text-center">
                        <img src="../../recursos/img/Interrogante.png" alt="" width="100px">
                        <p class="mt-2"> ¿Estas seguro de realizar estos cambios? </p>
                        <hr>
                        <button type="button" id="BtnInterrogante" class="btn bg-dark text-light me-2"
                            data-bs-toggle="modal" data-bs-target="#ModalRealizado"> Si </button>
                        <button type="button" class="btn bg-dark text-light" data-bs-dismiss="modal"> No </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Cambio realizado de eliminacion-->
        <div class="modal fade" id="ModalRealizado" tabindex="-1" data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Body del modal -->
                    <div class="modal-body text-center">
                        <img src="../../recursos/img/Listo.png" alt="" width="100px">
                        <p class="mt-2"> Se elimino nota.</p>
                        <div class="progress">
                            <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Modal agregar beneficio -->
        <div class="modal fade" id="editartratamiento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" id="fondoModal">

                    <!-- Header del modal -->
                    <div class="modalheaderTratamiento modal-header" id="headercolor">
                        <button type="button" class="btn " data-bs-target="#staticBackdrop03" data-bs-toggle="modal">
                            <img src="../../recursos/img/Atras.png" alt="" width="20px"></button>
                        <h1 class="textomoltratamiento modal-title fs-5" id="staticBackdropLabel">Agregar servicio</h1>
                    </div>
                    <!-- perfil Body del modal -->
                    <div class="modal-body">

                        <div class="my-5">

                            <div class="card my-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-3 flex-row row">
                                            <img src="../../recursos/img/admin/Paciente1.png" class="img-thumbnail"
                                                alt="...">
                                            <br>
                                            <br>
                                            <h6 class="card-title text-center">Juan Rodriguez</h6>
                                            <h6 class="card-title text-center">20220425</h6>

                                        </div>
                                        <div class="col-4 row flex-row">
                                            <p>Fecha: 23/06/24
                                            <div class="gap-2 mx-auto">
                                                <a class="btn btn-primary" href="dalendario_pacientes.html"
                                                    role="button">Cambiar
                                                    fecha</a>
                                                <br>
                                                <br>
                                                Sesiones:
                                                <div class="col-3">
                                                    <form class="row g-1 needs-validation" novalidate>
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            placeholder="3" aria-label="Username"
                                                            aria-describedby="basic-addon1" required>
                                                </div>
                                                </p>
                                            </div>
                                            <div class="text-center">
                                                <label for="appt" class="form-label">Hora:</label>
                                                <input type="time" id="appt" name="appt">
                                            </div>
                                        </div>
                                        <div class="col-2 row flex-row">
                                            <p>Servicios:</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Ajuste de cadera
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Masaje preventivo
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Ajuste de columna
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Tratamiento de scoliosis
                                                </label>
                                            </div>
                                        </div>
                                        <div class="container text-end mt-4">
                                            <div class="col-12">
                                                <div class="container">
                                                    <button type="button" class="btn bg-dark text-light ms-5 mt-5"
                                                        aria-label="Close" data-bs-toggle="modal"
                                                        data-bs-target="#ModalInterrogante">Editar
                                                    </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                            <div class="modal-footer bg-dark p-4">

                            </div>


    </main>

    <footer>

    </footer>

    <script src="../../controllers/utils/admin/plantilla_completa.js"></script>
    <script src="../../recursos/js/bootstrap_js.js"></script>

    <!-- Plantilla Alerta de modal -->
    <script src="../../controllers/admin/alerta.js"></script>
</body>

</html>