<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>Quiropractica Especifica</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/barrahorizontal.css">
</head>

<body>

    <!-- Contenedor principal -->
    <main class="container">

        <!-- titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold text-white"><i class="bi bi-clipboard2-pulse-fill me-1"></i> Administrar Tratamientos
                </h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión de tratamientos. Aquí puedes
                    manejar todos los trabajadores registrados en tu página web. <br>
                    La tabla te permite eliminar, dar de baja, editar y
                    reportes generales de actividad.</h6>
            </div>
        </div>

        <!-- Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Nombre del Tratamiento" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>
                        <button type="button" class="btn btn-warning" onclick="openCreate()">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <p id="rowsFound" class="text-white fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll -->
        <div id="ContenedorTable">

            <!-- Tabla para mostrar los registros existentes -->
            <table class="table table-hover table-dark">

                <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                <thead>
                    <tr>
                        <th>TRATAMIENTO</th>
                        <th>NOTAS</th>
                        <th>CITAS</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>

                <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                <tbody id="tableBody" class="table-group-divider"></tbody>
            </table>
        </div>

        <!-- Modal agregar Empleado -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idTratamiento" name="idTratamiento">
                        <form class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"> </h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="nombreTratamiento" class="form-label">Nombre</label>
                                                <input id="nombreTratamiento" type="text" name="nombreTratamiento"
                                                    class="form-control" required>
                                            </div>
                                            <div class="col-6">
                                                <label for="notaTratamiento" class="form-label">Nota</label>
                                                <textarea class="form-control" type="text" name="notaTratamiento"
                                                    id="notaTratamiento" placeholder="Ingrese una nota"
                                                    required></textarea>
                                            </div>
                                            <div class="col-6">
                                                <label for="citaTratamiento" class="form-label">Cita</label>
                                                <select id="citaTratamiento" name="citaTratamiento" class="form-select"
                                                    required>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6"></div>
                                            <div class="col-6 text-end">
                                                <button type="submit" class="btn btn-primary ps-4 pe-4">
                                                    <i class="bi bi-person-fill-add me-1"></i> Aceptar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Importaciones -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap_js.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/tratamiento.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../resources/js/chart.umd.min.js"></script>
</body>

</html>