.body {
    background-color: black;
    color: rgb(0, 0, 0);
}
.container {
    margin-top: 20px;
}
.card {
    background-color: #14d22e;
    border: #45a049;
    border: 200px;
    margin-bottom: 20px;
}
.card-header, .card-body {
    border: 200px;
}
.btn-green:hover {
    background-color: #45a049;
}

.btnCita{
    background-color: #45a049;
    border: 200px;
    color: rgb(14, 143, 40);
}