.header {
    background-image: url('../../img/public/background.png');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    height: calc(108vh - 56px); /* Ajusta la altura para que sea responsive, restando la altura del navbar */
    display: flex;
    flex-direction: column; /* Apilar los elementos verticalmente */
    align-items: flex-start; /* Alinear a la izquierda */
    padding-left: 20px;
    padding-top: 400px; /* Ajusta este valor para mover el texto hacia abajo */
    color: white;
}

.header h1 {
    margin: 0; /* Elimina el margen por defecto */
    font-family: 'Alfa Slab One'; /* Aplica la fuente */
}

.header h1:first-of-type {
    font-size: 62px; /* Tamaño del primer título */
}

.header h1:last-of-type {
    font-size: 132px; /* Tamaño del segundo título, más grande */
}