.header {
    background-image: url('../../img/public/background.png');
    background-size: cover;
    /* Asegura que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    height: calc(108vh - 56px);
    /* Ajusta la altura para que sea responsive, restando la altura del navbar */
    display: flex;
    flex-direction: column;
    /* Apilar los elementos verticalmente */
    align-items: flex-start;
    /* Alinear a la izquierda */
    padding-left: 20px;
    padding-top: 400px;
    /* Ajusta este valor para mover el texto hacia abajo */
    color: white;
}

.header h1 {
    margin: 0;
    /* Elimina el margen por defecto */
    font-family: 'Alfa Slab One';
    /* Aplica la fuente */
}

.header h1:first-of-type {
    font-size: 62px;
    /* Tamaño del primer título */
}

.header h1:last-of-type {
    font-size: 132px;
    /* Tamaño del segundo título, más grande */
}

.card-img-overlay {
    display: flex;
    /* Habilita flexbox */
    flex-direction: column;
    /* Organiza los elementos en columnas */
    justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */
    height: 100%;
    /* Asegura que ocupe toda la altura de la tarjeta */
}

.cardPortfolio {
    display: flex;
    /* Habilita flexbox */
    flex-direction: column;
    /* Organiza los elementos en columnas */
    justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */
    height: 100%;
    /* Asegura que ocupe toda la altura de la tarjeta */
}

.traspante {
    opacity: 0.8;
    /* Ajusta el valor según el nivel de opacidad que desees */
    justify-content: center;
    align-items: center;
}

.col-12 {
    max-width: auto;
    /* Establece un ancho máximo */
    margin: 0 auto;
    /* Centra el contenedor */
    text-align: center;
    /* Alinea el texto al centro */
    background-color: #000000;
}

.traspante:hover {
    opacity: 1.0;
    /* Ajusta el valor según el nivel de opacidad que desees */
}

.comment-container {
    display: flex;
    align-items: flex-start;
    max-width: 800px;
    margin: 20px auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.avatar {
    margin-right: 16px;
}

.avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-content {
    flex: 1;
}

.comment-header {
    display: flex;
    align-items: center;
}

.username {
    font-weight: bold;
    font-size: 1rem;
}

.comment-time {
    font-size: 0.875rem;
    color: #888;
    margin-left: 8px;
}

.commenting-on {
    font-size: 0.875rem;
    color: #555;
}

.highlight {
    font-weight: bold;
    color: #007bff; /* Color primario */
}

.comment-text {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 8px;
}

/* Estilos para moviles */
@media (max-width: 768px) {
    .header h1:first-of-type {
        font-size: 20px;
        /* Tamaño del primer título */
    }

    .header h1:last-of-type {
        font-size: 60px;
        /* Tamaño del segundo título, más grande */
    }
}

/* Estilos para escritorios grandes */
@media (min-width: 1920px) {
    .header {
        padding-left: 20px;
        padding-top: 600px;
        /* Ajusta este valor para mover el texto hacia abajo */
    }

    .header h1:first-of-type {
        font-size: 86px;
        /* Tamaño del primer título */
    }
    
    .header h1:last-of-type {
        font-size: 156px;
        /* Tamaño del segundo título, más grande */
    }
}