/*Color de objetos del header*/
body{
    background-color: #9FA09F;
}


main {
    margin-top: 130px;
    /* Márgen superior de 60 px */
}

.mainNotas {
    margin-top: 90px;
    /* Márgen superior de 60 px */
}

.footer_emergencia{
    margin-top: 170px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 1000;
}

.color_nav {
    color: #ECECEC;
}

.color_nav_text {
    color: #2E4186;
}

.color_nav_crear_usu {
    color: #3149a1;
}


.boton {
    display: inline-block;
    border: 3px solid #3ED1FF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.boton img {
    display: block;
    width: 60px;
    height: auto;
    border-radius: 8px;
    border-color: #3ED1FF;
}

/*colores de objetos del footer*/

.footer_color_boton {
    background-color: #249b07;
}

.footer_color_boton:hover {
    background-color: white;
}

.footer_color_boton img {

    transition: filter 0.5s;
}

.footer_color_boton:hover img {
    filter: invert(1);
}

/*pagina principal*/
.sin_link {
    text-decoration: none;
    color: black;
}

/*quienes somos?*/
.fondo-imagen {
    background-image: url("../../recursos/img/admin/fondo_quienees_somos.png");
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir todo el div */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    width: 100%;
    /* Ancho del div */
    height: 300px;
    /* Altura del div */
}

/*pagina inicio*/
.color_nav {
    background-color: #ECECEC;
}

.titulo_estilo {
    font-family: "Inter", sans-serif;
}

/*Colores base*/
.color_secundario {
    color: #3ED1FF
}

.color_fondo {
    background-color: #249b07;
}

.fondo_oscuro_modal{
    background-color: #9FA09F;
}

/*menulateral*/

#btn-menu {
    display: none;
}

.containerzzz-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#btn-menu:checked~.containerzzz-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #249b07;
    height: 100%;
    position: fixed;
    transition: all 500ms ease;
    transform: translateX(-100%);
    z-index: 1001;
}

#btn-menu:checked~.containerzzz-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #303231;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #303231;
    background: #249b07;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/*fin menu lateral*/

.fondo_oscuro {
    background-color: #303231;
}

.btn-primary {     
background-color: #000000;
border-color: #000000;
}

.invert-hover img {
    transition: filter 0.3s ease;
}

.invert-hover img:hover {
    filter: invert(100%);
}

.color_verde {
    background-color: #249b07;
}
.texto_verde{
    color: #249b07;
}

.color_verde:hover {
    border: 2px solid #249b07;
}

.texto_claro{
    color: #ECECEC;
}
