body {
    background-color: #000000;
}

#ContenedorTable {
    max-height: 650px;
    width: 100%;
    overflow-y: auto;
    display: block;
}

.quirpracticos {
    height: auto;
    border: #28930D;
    border: 20px !important;
    border-color: #28930D !important;
    background-color: black !important;
    width: 18rem !important;
    background-color: black !important;
    color: rgb(255, 255, 255) !important;
}

.conteinerInicio {
    background-color: rgb(49, 49, 49);
}

.linea-verde {
    border: none;
    border-top: 3px solid rgb(131, 239, 131);
    /* Cambia el color y el grosor aquí */
    width: 100%;
    /* Ajusta el ancho de la línea */
}

.inicioIndex {
    background-color: rgb(25,25,25);
    border: grey;
}

.card-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.custom-input {
    background-color: black;
    color: white;
}

.custom-input:focus {
    background-color: black;
    color: white;
    outline: none;
    box-shadow: none;
}

.servicioIndex{
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
    border: 2px solid transparent; /* Quita el borde o lo hace transparente */
    border-radius: 0;  
    border: none; /* Quita el borde */
    
}
.traspante{
    opacity: 0.7; /* Ajusta el valor según el nivel de opacidad que desees */
    justify-content: center;
    align-items: center;
  }
  
.contenedor-tarjetas {
    max-width: 1100px; /* Limita el ancho máximo del contenedor */
    margin: 0 auto;    /* Centra el contenedor */
    padding: 0 15px;   /* Asegura un pequeño padding en los laterales */
  }


#offcanvasNavbar {
    opacity: 0.8;
    border-color: white;
}

#search::placeholder {
    color: white;
}

.separadorClaro {
    border-top: 1px solid white;
    /* Establece el color del borde superior del hr en blanco */
}

.sinLink {
    text-decoration: none;
    /* Quitar el subrayado */
    transition: color 0.3s;
    /* Agregar transición para suavizar el cambio de color */
}

header {
    background-color: black;
    color: white;
    /* Opcional: Cambia el color del texto a blanco para que sea visible sobre el fondo negro */
    padding: 10px;
    /* Opcional: Agrega un poco de espacio alrededor del contenido del header */
}

.textoClaro{
    color: white;
    /* Opcional: Cambia el color del texto a blanco para que sea visible sobre el fondo negro */
    padding: 10px;
    /* Opcional: Agrega un poco de espacio alrededor del contenido del header */
}