#headercolor{
    background-color: #249b07;
    color: #ffffff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border:#303231;
    /*margin: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);*/
}

#botondescripcion{
    width: 200px;
    background-color: #000000;
    border: #000000;
    color: #ffffff;
    margin-bottom: 30px;
}
 
#botonbeneficios{
    width: 200px;
    background-color: #000000;
    border: #000000;
    color: #ffffff;
    margin-bottom: 30px;
}
 
#staticBackdropLabel{
    text-align: center;
}

#botoncambios{
    height: 40px;
    width: 250px;
    background-color: #000000;
    border: #000000;
    margin-top: 90px;
    color: #ffffff;
    margin-bottom: 70px; 
      
}

#fondoModal{
background-color: #2b2b28;

}
#descripcionmodal{
    background-color: #9fa09f;
    border: #9fa09f;
    color: #ffffff;
}

#textmodal{
    background-color: #9fa09f;
    border: #9fa09f;
    color: #ffffff;
}

#AgregarImagenposturales{
    background-color: #9fa09f;
    border: #9fa09f;
    color: #ffffff;
}

#AgregarImagenservicio{
    background-color: #9fa09f;
    border: #9fa09f;
    color: #ffffff;
}