<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiropráctica Específica</title>
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/public/footer.css">
    <link rel="stylesheet" href="../../resources/css/barrahorizontal.css">
    <link rel="stylesheet" href="../../resources/fonts/Alfa Slab One.css">
    <link rel="stylesheet" href="../../resources/fonts/Work Sans.css">
</head>

<body>

    <main class="distancia-main">
        <h1 id="mainTitle" class="my-4 text-center text-white"></h1>

        <div class="container">
            <!-- pantalla de citas -->
            <div class="row justify-content-center" id="citas">
                <!-- Primera card -->
                <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                    <div class="card card-body text-center">
                        <div class="row">
                            <div class="col-3">
                                <img src="..." class="card-img-top" alt="ERROR CARGAR IMAGEN">
                            </div>
                            <div class="col-3">
                                <h2 class="mb-5">Servicio</h2>
                                <h4 class="card-title">${row.tipo_servicio}</h4>
                            </div>
                            <div class="col-3">
                                <h2 class="mb-5">Estado de cita</h2>
                                <h4 class="card-text text-warning">${row.estado_cita}</h4>
                            </div>
                            <div class="col-3">
                                <h2 class="mb-5">Fecha de cita</h2>
                                <h4 class="card-text text-info-emphasis">${fecha}</h4>
                            </div>
                        </div>
                        <button type="button" onclick="openDelete($)" class="col-2 mb-1 btn btn-danger">
                            <i class="bi bi-cart-dash"></i>
                        </button>
                        <a href="#" class="btn btn-primary col-2">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal agregar servicio -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idServicio" name="idServicio">
                        <form class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"></h1>


                                <div class="col-12 mt-3">
                                    <label class="form-label">Servicio</label>
                                    <input id="tipoServicio" name="tipoServicio" class="form-control" required
                                        autocomplete="off" oninput="formatAlphabetic(this)">
                                </div>
                                <div class="col-12 mt-3">
                                    <label class="form-label">Descripcion</label>
                                    <textarea id="descripcionServicio" name="descripcionServicio" class="form-control"
                                        autocomplete="off" placeholder="Ingrese una descripción" required
                                        oninput="formatAlphabetic(this)"></textarea></textarea>
                                </div>
                                <div class="col-12">
                                    <label for="imagenServicio" class=" textoClaro form-label">Galeria</label>
                                    <select id="imagenServicio" name="imagenServicio" class="form-select"
                                        autocomplete="off" required oninput="formatCombo(this)">
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary ps-4 pe-4">
                                        <i class="bi bi-person-fill-add me-1"></i> Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- librerías para poder trabajar con bootstrap y sweeteners -->
    <script src="../../resources/js/bootstrap_js.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>

    <!-- llamar al controntrolador del sitio privado-->
    <script src="../../controllers/utils/components.js"></script>
    <!-- llamar al controntrolador del los sitios-->
    <script src="../../controllers/utils/public.js"></script>
    <script src="../../controllers/public/citapendiente.js"></script>

</body>

</html>