<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiropráctica Específica</title>
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>

    <main>
        <h1 id="mainTitle" class="textoClaro mb-5"></h1>

        <div class="row">
            <!-- pantalla de citas -->
            <div class="col-lg-9 col-md-8 col-sm-12 ">
                <div class="row" id="citas">
                    <!-- cards de citas -->
                    <div class="card card-body text-center">
                        <div class="row">
                            <div class="col-3">
                                <img src="..." class="card-img-top" alt="ERROR CARGAR IMAGEN">
                            </div>
                            <div class="col-3">
                                <h3>Servicio</h3>
                                <p class="card-title">${row.tipo_servicio}</p>
                            </div>
                            <div class="col-3">
                                <h3>Estado de cita</h3>
                                <p class="card-text text-warning">${row.estado_cita}</p>
                            </div>
                            <div class="col-3">
                                <h3>Fecha de cita</h3>
                                <p class="card-text text-info-emphasis">${fecha}</p>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary col-2">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 ">
                <div class="text-center">
                    <h1 class="textoClaro"> te puede interesar</h1>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <!-- librerías para poder trabajar con bootstrap y sweeteners -->
    <script src="../../resources/js/bootstrap_js.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>

    <!-- llamar al controntrolador del sitio privado-->
    <script src="../../controllers/utils/components.js"></script>
    <!-- llamar al controntrolador del los sitios-->
    <script src="../../controllers/utils/public.js"></script>
    <script src="../../controllers/public/citapendiente.js"></script>

</body>

</html>