<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">

</head>

<body>
    <header>
    </header>

    <main class="py-5">
        <!-- Título del contenido principal -->
        <h4 id="mainTitle"></h4>

    </main>

    <!-- Bootstrap -->
    <script src="../../resources/js/bootstrap_js.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- controladores del sitio privado -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/public.js"></script>
    <script src="../../controllers/public/detalles.js"></script>
</body>

</html>