<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiropráctica Específica </title>
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/admin/inicio.css">
    <link rel="stylesheet" href="../../resources/css/public/inicio.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">

</head>

<body>
    <header>

    </header>

    <main class="container-principal">

        <div class="row">
        <div  class="imgentrada">
            <img src="../../resources/img/admin/radiografia.png" class="rounded float-end" alt="">
        </div>



        </div>
    </main>



    <footer>

    </footer>

    <script src="../../resources/js/bootstrap_js.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>

    <!-- llamar al controntrolador del sitio privado-->
    <script src="../../controllers/utils/components.js"></script>
    <!-- llamar al controntrolador del los sitios-->
    <script src="../../controllers/utils/admin.js"></script>

    <script type="module" src="../../controllers/admin/inicio.js"></script>
</body>


</html>