<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <!-- Se enlaza Bootstrap para estilos adicionales -->
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/public/Registro.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/colores.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/public/footer.css">
    <link rel="stylesheet" href="../../resources/css/barrahorizontal.css">
    <link rel="stylesheet" href="../../resources/fonts/Alfa Slab One.css">
    <link rel="stylesheet" href="../../resources/fonts/Work Sans.css">
</head>

<body>
    <main>
        <div class="container margen-nav mb-5">
            <div class="row">

                <div class="col-12 bg-dark text-center">
                    <a href="login.html">
                        <i class="bi bi-arrow-90deg-left text-white ms-3 mt-3"></i>
                    </a>
                    <h3 class="font-weight-bold font-monospace text-white mt-5 mb-4">REGISTRO DE USUARIO</h3>
                    <form id="signupForm">
                        <input type="number" class="d-none" id="idCliente" name="idCliente">
                        <div class="row text-center rounded">
                            <div class="col-sm-12 col-md-12 col-lg-2 ms-lg-5">
                                <div class="col-12">
                                    <h4 class="text-white">Imagen Cliente</h4>
                                    <img id="imagenMuestra"
                                    class="rounded  mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                    src="../../resources/img/persona.png" alt="..." width="200px" height="200px">
                                </div>
                                <div class="container">
                                    <br>
                                    <input id="imagenCliente" type="file" name="imagenCliente" class="form-control"
                                    accept=".png, .jpg">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-9">
                                <div class="form-group mt-5 d-flex justify-content-center">
                                    <div class="col-4">
                                        <input type="text" class="form-control" placeholder="Nombre(s)..." id="nombreCliente"
                                            name="nombreCliente" oninput="formatAlphabetic(this)"
                                            aria-describedby="addon-wrapping">
                                    </div>
                                    <div class="col-4 ms-2">
                                        <input type="text" class="form-control" placeholder="Apellido(s)..."
                                            id="apellidoCliente" name="apellidoCliente" oninput="formatAlphabetic(this)"
                                            aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="form-group mt-4 d-flex justify-content-center">
                                    <div class="col-4">
                                        <input type="email" class="form-control" placeholder="Correo electronico..."
                                            id="correoCliente" name="correoCliente" oninput="formatEmail(this)"
                                            aria-describedby="addon-wrapping">
                                    </div>
                                    <div class="col-4 ms-2">
                                        <input type="text" class="form-control" placeholder="Documento de identidad..."
                                            id="duiCliente" name="duiCliente" oninput="formatDui(this)"
                                            aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="form-group mt-4 d-flex justify-content-center">
                                    <div class="col-4">
                                        <input type="text" class="form-control" placeholder="Telefono..." id="telefonoCliente"
                                            name="telefonoCliente" oninput="formatPhoneNumber(this)"
                                            aria-describedby="addon-wrapping">
                                    </div>
                                    <div class="col-4 ms-2">
                                        <input type="date" class="form-control" placeholder="Fecha de nacimiento..."
                                            id="nacimientoCliente" name="nacimientoCliente"
                                            aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="form-group mt-4 d-flex justify-content-center">
                                    <div class="col-8">
                                        <input type="password" class="form-control" placeholder="Contraseña..."
                                            id="contraCliente" name="contraCliente" oninput="formatPassword(this)"
                                            aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="form-group mt-4 d-flex justify-content-center">
                                    <div class="col-8">
                                        <input type="password" class="form-control" placeholder="Confirmar contraseña..."
                                            id="confirmarCliente" name="confirmarCliente" oninput="formatPassword(this)"
                                            aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="form-group mt-4 d-flex justify-content-center">
                                    <div class="col-8">
                                        <button type="submit" class="btn btn-light text-primary fw-bold pe-4 ps-4 mb-5">Crear
                                            cuenta</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Librerias -->
    <!-- Bootstrap -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"> </script>

    <!-- Js -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/Validaciones.js"></script>
    <script type="text/javascript" src="../../controllers/public/Registro.js"></script>
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
</body>

</html>