<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icons/icon.jpg">
    <title>Quiropráctica Específica </title>
    <link rel="stylesheet" href="../../resources/css/boostrap_css.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/admin/inicio.css">
    <link rel="stylesheet" href="../../resources/css/public/inicio.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">

</head>

<body>
    <header>

    </header>
    <main class="container-principal">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                            <!-- Trajetas -->
                             <!-- Trajeta descriptiva -->
                    <div class="card border-success">
                        <div class="card-header">
                            <h3>Masaje preventivo</h3>
                        </div>
                        <div class="card-body">
                            <p>El tratamiento más común es la manipulación que el quiropráctico hace con la mano. Consiste en mover una articulación de la columna vertebral hasta el máximo de su rango, seguido de una compresión ligera. Esto con frecuencia se llama "ajuste". Esto realinea los huesos de la columna vertebral para situarlos en una mejor posición.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card">
                        <div class="card-header border-success">
                            <!-- Tarjeta de beneficios -->
                            <h3>Beneficios</h3>

                        </div>
                        <div class="card-body border-success">
                            <p>Corrección de subluxaciones vertebrales: Los quiroprácticos pueden detectar y corregir subluxaciones vertebrales, que son desalineaciones de las vértebras que pueden presionar los nervios entre ellas. Estos ajustes quiroprácticos pueden ayudar a realinear la columna y mejorar la función del sistema nervioso.</p>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                    <button type="button" class="btn btn-success">Realizar cita</button>
                </div>
                </div>
                <div class="col-md-6">
                    <img src="../../resources/img/public/imgser.png" class="img-fluid" alt="Imagen quiropráctico">
                    <hr>
                        <div class="card-header">
                            <h3 style="color: azure;">Cuéntanos tu experiencia</h3>
                            <br>
                        </div>
                        <div class="card-body col">
                            <textarea class="form-control" rows="4" placeholder="Déjanos tu opinión..."></textarea>
                            <br>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-success btn-primary me-md-2" type="button">Comentar</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <footer>

    </footer>
    
    <script src="../../resources/js/bootstrap_js.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>

    <!-- llamar al controntrolador del sitio privado-->
    <script src="../../controllers/utils/components.js"></script>
    <!-- llamar al controntrolador del los sitios-->
    <script src="../../controllers/utils/admin.js"></script>

    <script type="module" src="../../controllers/admin/inicio.js"></script>
</body>

</html>